table,td,tr {
	border:0;
	margin:0;
	padding-left:3pt;
	border-collapse: collapse;
}

.arbo_qty {
	border:0;
}

img {
	visibility:hidden;
}

.lien {
	visibility:hidden;
	height:12pt;
	overflow:hidden;
}

td {
	border-bottom :0.5pt solid lightgray;
	border-collapse: separate;
}