#cssmenu_v{
	position:relative;
	z-index: 999;
	width: 165px;
	text-align: left;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 0px 22px;
}

#cssmenu_v, #cssmenu_v ul {
	list-style: none;
	background-color:#FFFFFF;
	padding:0px;
	margin:0px;
	position:relative;
    z-index:150;
}

#cssmenu_v a {
	display: block;
	visibility:visible;/* :o( */
	text-decoration: none;
    padding-left:0px;
	margin:0px;
	margin-right:15px; /*pour le jointmarker*/
	white-space: nowrap;
	width:165px;
	overflow:hidden;
	text-align:right;
	height:22px;
	line-height:22px;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
}

#cssmenu_v li {
	height:22px;
	line-height:22px;
	margin:0px;
	padding:0px;
	width: 165px;
	/*border:1px solid #00FF00;*/
}

/*masquer tous les sous-menus*/

#cssmenu_v li ul {
	position:absolute;
	left: -999em;
	height: auto;
	width: 165px;
	font-weight: normal;
	margin:0px;
	padding:0px;
	border-left: 2px solid #f2ab0c;
	/*border:1px solid #C4C4C4;*/
	border-top-style:none;

}

#cssmenu_v li:hover ul ul, 
#cssmenu_v li:hover ul ul ul,
#cssmenu_v li:hover ul ul ul ul,
#cssmenu_v li:hover ul ul ul ul ul, 
#cssmenu_v li.sfhover ul ul, 
#cssmenu_v li.sfhover ul ul ul,
#cssmenu_v li.sfhover ul ul ul ul,
#cssmenu_v li.sfhover ul ul ul ul ul{
	left: -999em;
}

#cssmenu_v li:hover ul, 
#cssmenu_v li li:hover ul, 
#cssmenu_v li li li:hover ul,
#cssmenu_v li li li li:hover ul,
#cssmenu_v li li li li li:hover ul, 
#cssmenu_v li.sfhover ul, 
#cssmenu_v li li.sfhover ul, 
#cssmenu_v li li li.sfhover ul,
#cssmenu_v li li li li.sfhover ul,
#cssmenu_v li li li li li.sfhover ul {
	left:auto;
}

/*couleur sous le pointeur de la souris*/

#cssmenu_v li:hover,
#cssmenu_v li.sfhover{
	background-color:#FFFFFF;
}

#cssmenu_v li:hover > a,
#cssmenu_v li.sfhover > a{
	color:#f39903;
}

/*-------------------------------------*/

/*jointmarkers*/

#cssmenu_v .ParentNode,
#cssmenu_v .ParentNode:hover,
#cssmenu_v .ParentNode.sfhover{
	background-image:url(../www/icones/jointmarker.png);
	background-repeat:no-repeat;
	background-position:right;
}

#cssmenu_v .ParentNode:hover .LeafNode,
#cssmenu_v .ParentNode.sfhover .LeafNode,
#cssmenu_v .FirstChildLeft, 
#cssmenu_v .FirstChildRight{ /*patch IE :o/ */
	background-image:none;
}

/*set sublists orientation*/

#cssmenu_v li ul,
#cssmenu_v ul ul {
    margin-top:-22px;
	margin-left:165px;
}

#cssmenu_v .FirstChildLeft, #cssmenu_v .FirstChildRight{
	width:0px;
	height:22px;
	line-height:22px;
	display:inline;
}

/*autosize menu items*/

#cssmenu_v > .FirstChildLeft, #cssmenu_v > .FirstChildRight,
#cssmenu_v > .FirstChildLeft a, #cssmenu_v > .FirstChildRight a{
	width:165px;
	height:22px;
	line-height:22px;
}
#cssmenu_v div.sub_shad_top,
#cssmenu_v div.sub_shad_bottom {
	width: 165px;
	height: 8px;
	font-size: 0.1em;
}
#cssmenu_v div.sub_shad_top {

}
#cssmenu_v div.sub_shad_bottom {

}