/* Styles des Graphique Flot JQuery */
.pieChart { width: 300px; height: 300px; margin: 10px 0;}

.pieChart2 { width: 300px; height: 300px; margin: 10px 0;}

.histogramme { width: 650px; height: 350px; margin: 10px 0;}
.histogramme_ratio { width: 920px !important; height: 300px; margin: 10px 0;clear: both;}

.pieLabel { clear: both; }

.pieLabel div{ 
	font-size: 10px;
	border: 1px solid gray;
	background: white;
	padding: 1px;
	text-align: center;
	opacity: 0.75;
	white-space: nowrap;
}

.gridLabel { clear: both; margin-top: 15px; }

.legend { margin-top: 15px; }

.pieChart2 .pieLabel{ margin: -10px 0 0 -30px; }

.pieChart2 #pieLabel0{ margin-left: -60px; }

#tooltip {
	font-family: Arial;
	font-size: 10px;
}
/*.statBodyDiv {
    clear: both;
}*/
#courbeNNmoins1 {
    width:605px !important;
    height: 210px !important;
}
.statBodyDiv_ratio {float: left;width: 605px;}
.clearfix {
	clear: both;
}
h3.title_ratio_left {
    width: 42%;
    float: left;
    cursor: pointer;
}
h3.title_ratio_right {
    width: 42%;
    float: right;
    cursor: pointer;
}
.catalog {
    clear: both;
    width: 100% !important;
}
.catalog .pieChart {
    width: 35% !important;
    float: left;
}
.catalog .resultTable {
    width: 60% !important;
    margin-top: 20px;
}
