/*Nicolas Gerner*/

#contenerStarsProducts{
	margin-left: 5px;
}

#starsTop{
	background-image: url(../../../www/img/star-top.png);
	background-repeat: no-repeat;
	height: 22px;
	width: 147px;
	font-weight: bold;
	text-align: center;
	color: #505050;
}

#starsMiddle{
	width: 146px;
	height: auto;
	border-left: 1px solid #c8c8c8;
	border-right: 1px solid #c8c8c8;
}

#starsBot{
	background-image: url(../../../www/img/star-bottom.png);
	background-repeat: no-repeat;
	height: 12px;
	width: 148px;
}


.starProducts{
	top : 0px;
	text-align: left;
	border-right: 1px solid #c8c8c8;	
}

.starProduct{
	border-collapse: collapse;
	padding: 0px;
	/*background: #f0f0f0;*/
}

.colored{
	background-color: #ffffff;
}

.prodName{
	font-weight: bold;
	color: #505050;
}

.aProdName:hover{
	color: #fd4626;
	text-decoration: underline;	
}


.descName{
	font-weight: normal;
}

.flecheStar{
	margin-left : 5px;
	margin-right: 5px;
}

.starAccroche{
	text-align: justify;
}
