/* + -----------------------------------------------------
	Styles appliqués au Statistiques
+ ----------------------------------------------------- */



/* Autres styles */
.calbox {	width: 180px !important; border: 1px solid #EEEEEE; font-size: 11px !important; }




.selectedDay { background: #FDEFBE; }


.libelle {	text-align: center;	border-bottom: 1px solid black; }
.itemPreviousDays { text-align: center; }
.itemPreviousDays a { color: #EB6a0a; text-decoration: none; }
.itemNextDays { text-align: center; }
.itemCurrentItem {	text-align: center;	color: white; background: #999999; font-weight: bold; }
.itemCurrentItem a { text-decoration: none;	text-align: center;	color: white; background: #999999; font-weight: bold; }
.calendarPeriodDate {	padding-top: 10px; }
.calendarPeriodDate input { width: 60px; font-size: 11px; text-align: center; }


/*######### Classes générales  #########################################*/

th { text-align: center; }

.loading { 
	-moz-border-radius: 15px; 
	color: #bbbbbb; 
	font-size: 18px; 
	width: 250px; 
	margin-top: 50px; 
	margin-bottom: 50px; 
	display: block; 
	z-index: 1000; 
	border: 1px solid #dddddd;
}

.select{
	background-color: #eeeeee;
	color: gray;
	text-align: center;
	vertical-align:middle;
	border: 1px solid gray;
	width: 200px;
	padding-left: 10px;
	height:20px;
}
.select option{
	vertical-align:middle;
	height:20px;
}
.submit {
	background: #EEEEEE;
	text-align: left;
	border: 1px solid gray;
	width: 90%;
	margin-bottom: 3px;
	padding-left: 10px;
	font-weight:bold;
	font-size:12px;
	font-family:Arial, Verdana;
	color:#505050;
	cursor:pointer;
	-moz-border-radius:3px; -webkit-border-radius:3px;
}
.submit:hover, .submitselected:hover {
	background: #999999;
	color: white;
	border: 1px solid gray;
}
.submitselected {
	text-align: left;
	border: 1px solid #6D94BD;
	color:#FFFFFF;
	background: #507395;
	width: 90%;
	margin-bottom: 3px;
	padding-left: 10px;
	font-weight:bold;
	font-size:12px;
	font-family:Arial, Verdana;
	-moz-border-radius:3px; -webkit-border-radius:3px;
}

.MenuForm {
	margin: 0;
	padding: 0;
}

.statMenuTitle {
	height: 17px;
	margin-bottom: 10px;
	background: #CCCCCC url('img/menustat_bg.gif') repeat-x bottom;
	font-size: 12px;
	font-family: Verdana, Arial;
	color: black;
}

.statMenuCat {
	margin-top: 7px;
	margin-bottom: 7px;
	background: gray;
	color: white;
	font-weight: bold;
	padding-left: 10px; 
}

.statMenuCat a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

.statMenuDiv {
	/*background: #FFFFFF;*/
	text-align: center;
	/*border: 1px solid #DDDDDD;*/
	/*width: 204px;*/
	/*float: right;*/
	/*padding-bottom: 20px;*/
}

.statBodyDiv {
	/*
	width: 680px;
	padding: 5px;
	background: #FFFFFF;
	text-align: center;
	margin-right: 215px;
	border: 1px solid #DDDDDD;
	*/
}

.statCriter { color: #666666; font-size: 12px; }
.errormsg { color: red; }