<script type="text/javascript">
<!--

	function validateSelection(){

		var url = new String( window.opener.location );
		var location = window.opener.document.getElementById( 'adminScript' ).value;
		
		location += '&getbuyerbasket';
		
		var pos = url.lastIndexOf( '#references' );
		if( pos != -1 )
			url = url.substr( 0, url.length - 11 );
		 
		if( url == location )
			location += '&next';
		
		location += '#references';
		
		window.opener.location = location;
		
		window.close();
				
	}

// -->
</script>

{if:iduser}<span style="color:red;font-weight: bold;">/basket/basket_buttons.tpl</span>{end:}

<p>
<input type="hidden" name="IdCategory" value="{IdCategory}" />
<input type="hidden" name="CurrentPageNumberC" value="{CurrentPageNumberC}" />
<input type="hidden" name="CurrentPageNumberP" value="{CurrentPageNumberP}" />
<input type="hidden" name="FromScript" value="{FromScript}" />

<!--Affichage des boutons -->
{if:isidproduct}
	<input type="hidden" name="IdProduct" value="{IdProduct}" />
{end:}

{if:search}
{foreach:ParameterOutputArray,k,v}
	<input type="hidden" name="{k}" value="{v}" />
{end:}
{end:}
</p>

{if:display}

	<!-- Si la panier ne contient pas (pays OU promo/destock) -->
	{if:allowOrder}
	<!-- Si la panier contient (pays OU promo/destock) -->
	{else:}
		
		<div class="spacer"></div>
	{end:}

	
	<!--Bouton Commander-->
	<script type="text/javascript">
	<!--
		//ajouter à la commande du back office
		if( window.opener && window.opener.document.getElementById( 'adminScript' ) ){
			var openerLocation = window.opener.document.getElementById( 'adminScript' ).value + '&getbuyerbasket';
			document.write( '<img src="../images/bt-add-commande.png" style="vertical-align:top; margin-top:-1px; cursor:pointer;" onclick="window.opener.location = openerLocation; window.close();" />' );
		}
	// -->
	</script>
	
	
	<!-- Si la panier ne contient pas (pays OU promo/destock) -->
	{if:allowOrder}
		<p><input type="submit" name="Buy" class="input_commander_btn" value="Passer commande" /></p>
		<p><a href="{start_url}/catalog/estimate_basket.php?order2estimate" class="input_devis_btn" />Demander un devis</a></p>

	<!-- Si la panier contient (pays OU promo/destock) -->
	{else:}		
		<p><a href="{start_url}/catalog/estimate_basket.php?order2estimate" class="input_devis_btn" />Demander un devis</a></p>
	{end:}
	
	<p><a href="javascript:history.back();" class="input_commander2">
	Poursuivre ma visite</a></p>


{end:}

{if:comsession}
	<a href="#" onclick="validateSelection(); return false;">
	<img class="NoBorder" src="{start_url}/www/img/btn_back_to_adm_com.jpg" alt="{traduction(#Retour vers l'administration#)}" />
	</a>
{end:}
