.panier__title {
  display: block;
  text-align: center;
  padding: 1em 32px;
  font-size: 1.5em;
  font-weight: 600;
  color: #0065b0;
  position: relative;
}
.panier__title:before {
  content: '';
  display: block;
  width: 50px;
  height: 3px;
  background-color: #0065b0;
  position: absolute;
  bottom: 12px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.panier__bloc-action {
  text-align: right;
  padding-right: 32px;
}
