#mainFrontMenu, #mainFrontMenu *{margin:0;padding:0;list-style:none;z-index:999;}
#mainFrontMenu{line-height:1.1;z-index:9999999;}
#mainFrontMenu ul{background:none repeat scroll 0 0 #FFFFFF;left:0;position:absolute;top:-999px;width:992px;z-index:1111;}
#mainFrontMenu ul li{width:100%;z-index:999;}
#mainFrontMenu li:hover{visibility:inherit;}
#mainFrontMenu li{float:left;}
#mainFrontMenu a{display:block;font-size:11.5px;font-family:Arial, Helvetica, sans-serif;color:#FFFFFF;padding:10px 5px;text-align:center;}
#mainFrontMenu li:hover ul,
#mainFrontMenu li.sfHover ul{left:0;top:2.5em;z-index:99;}
ul#mainFrontMenu li:hover li ul,
ul#mainFrontMenu li.sfHover li ul{top:-999em;}
ul#mainFrontMenu li li:hover ul,
ul#mainFrontMenu li li.sfHover ul{left:220px;top:0;}
ul#mainFrontMenu li li:hover li ul,
ul#mainFrontMenu li li.sfHover li ul{top:-999em;}
ul#mainFrontMenu li li li:hover ul,
ul#mainFrontMenu li li li.sfHover ul{left:185px;top:0;}
#mainFrontMenu{float:left;margin-bottom:1em;}
#mainFrontMenu a{text-decoration:none;}
#mainFrontMenu li{}
#mainFrontMenu li li, #mainFrontMenu li li li{background:#FFFFFF;}
#mainFrontMenu li:hover, #mainFrontMenu li.sfHover,
#mainFrontMenu a:focus, #mainFrontMenu a:hover, #mainFrontMenu a:active{background-color:#FFFFFF;outline:0;color:#F39903;cursor:pointer;}
#mainFrontMenu a.sf-with-ul{padding-right:2.25em;min-width:1px;}
.sf-sub-indicator{position:absolute;display:block;right:.75em;top:1.05em;width:10px;height:10px;text-indent:-999em;overflow:hidden;background:url('../images/arrows-ffffff.png') no-repeat -10px -100px;}
a > .sf-sub-indicator{top:.8em;background-position:0 -100px;}
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator{background-position:-10px -100px;}
#mainFrontMenu ul .sf-sub-indicator{background-position:-10px 0;}
#mainFrontMenu ul a > .sf-sub-indicator{background-position:0 0;}
#mainFrontMenu ul a:focus > .sf-sub-indicator,
#mainFrontMenu ul a:hover > .sf-sub-indicator,
#mainFrontMenu ul a:active > .sf-sub-indicator,
#mainFrontMenu ul li:hover > a > .sf-sub-indicator,
#mainFrontMenu ul li.sfHover > a > .sf-sub-indicator{background-position:-10px 0;}
.sf-shadow ul{background:url('../images/shadow.png') no-repeat bottom right;padding:0 8px 9px 0;-moz-border-radius-bottomleft:17px;-moz-border-radius-topright:17px;-webkit-border-top-right-radius:17px;-webkit-border-bottom-left-radius:17px;}
.sf-shadow ul.sf-shadow-off{background:transparent;}
#menu{float:left;width:980px;background:url("../images/menu/menu-shad.png") no-repeat scroll center bottom transparent;padding-bottom:8px;}
#mainFrontMenu{position:relative;width:980px;background:#5F5B54;height:58px;margin:0 10px;display:block;}
#mainFrontMenu li{float:left;height:58px;line-height:1.1em;/*background:url("../images/menu/menu-sepa.png")*/ no-repeat scroll 0 10px transparent;display:inline-block;vertical-align:top;}
#mainFrontMenu li li a span,#mainFrontMenu li li a span{color: #000;}
#mainFrontMenu li li{float:left;max-width:260px;width:230px;height:auto;background:url("../images/arrow-orange.png") no-repeat scroll left top transparent;padding-left:10px;margin-top:10px;margin-left:10px;position:relative;margin-right:150px;}
#menu > ul > li:first-child{background:none repeat scroll 0 0 transparent;}
#mainFrontMenu li ul{min-height:200px;height:auto;background-color:#FFFFFF;background-image:linear-gradient(#FFFFFF, #F2F2F2);border-bottom:6px solid #DFDFDF;border-bottom-right-radius:6px;border-top:4px solid #F39900;left:0;margin:-8px 0px 0;padding:0;position:absolute;width:980px;z-index:99999;}
#mainFrontMenu img{left:50%;margin-left:350px;display:none;position:absolute;z-index:1000;background:#fff;top:10px;margin-top:57px;width:130px!important;height:auto;padding:5px;background:#fff;max-width:140px;}
#mainFrontMenu li:hover img{display:block;}
#mainFrontMenu li:hover ul,
#mainFrontMenu li.sfHover ul{left:0px;top:auto;display: block !important;}
#mainFrontMenu .sf-sub-indicator{background-position:-10px 0;}
#mainFrontMenu a > .sf-sub-indicator{background-position:0 0;}
#mainFrontMenu a:focus > .sf-sub-indicator,
#mainFrontMenu a:hover > .sf-sub-indicator,
#mainFrontMenu a:active > .sf-sub-indicator,
#mainFrontMenu li:hover > a > .sf-sub-indicator,
#mainFrontMenu li.sfHover > a > .sf-sub-indicator{background-position:-10px 0;}
#menu > ul > li > a{color:#FFFFFF !important;cursor:default;display:block;font-size:12px;height:38px;margin:1px;padding:8px 5px 16px;text-decoration:none;z-index:100000;background:none !important;text-align:center;}
#mainFrontMenu ul li a{color:#212121;display:inline-block;font-size:12px;padding-bottom:9px;text-decoration:none;position:relative;z-index:100000;}
#mainFrontMenu li:hover > a{color:#F39900 !important;text-decoration:none;background-color:#FFF !important;}
#ID11{width:75px;}
#ID15{width:85px;}
#ID16{width:115px;}
#ID14{width:85px;}
#ID10{width:85px;}
#ID12{width:80px;}
#ID13{width:80px;}
#ID20{width:85px;}
#ID23{width:140px;}
#ID21{width:95px;}
#ID24{width:115px;border-bottom:1px solid #F8981D;}
#ID25{border-bottom:1px solid #F8981D;}
#mainFrontMenu ul:after{background:url("../images/menu/submenu-shad.png") no-repeat scroll center center/100% 15px transparent;bottom:-21px;content:"";display:block;height:15px;position:absolute;width:100%;}
#mainFrontMenu li ul ul{background-color:#FFFFFF;background-image:linear-gradient(#FFFFFF, #F2F2F2);border-bottom:6px solid #DFDFDF;border-bottom-right-radius:6px;border-top:4px solid #F39900;height:auto;left:0;margin:-8px 0 0;min-height:170px;padding:0;position:absolute;width:200px;z-index:99999;}
#mainFrontMenu li li li{background:url("../images/arrow-orange.png") no-repeat scroll left top;float:left;height:auto;max-height:18px;margin-left:10px;margin-top:10px;max-width:180px;padding-left:10px;width:180px;height:20px;line-height:20px;line-height:12px;position:relative;z-index:10000001;}
#mainFrontMenu li li li:hover{background:url("../images/arrow-orange.png") no-repeat scroll left top;}
#mainFrontMenu li li a{padding-bottom:3px;padding-top:0;text-align:left;font-size:10.5px;}
#ID1409, #ID1404, #ID1401,#ID1304,#ID1302,#ID1319,#ID1314 {margin-top: 0 !important;}
#ID1419 {margin-top: -7px !important;} 