@charset "utf-8";#promos{margin-right:6px;}
#promos,
#ccoeur{width:49.6%;height:200px;background:url(../../images/carousel/bg.png) top left no-repeat;background-size:100% calc(100% - 12px);float:left;position:relative;top:-16px;z-index:40;}
#promos img,
#ccoeur img{border:0 none;}
#promos .maskG,
#promos .maskD,
#ccoeur .maskG,
#ccoeur .maskD{position:absolute;z-index:999;top:29px;width:50px;height:125px;}
#promos .maskG,
#ccoeur .maskG{left:1px;background:url(../../images/carousel/maskG.png) top left no-repeat;background-size:100% 100%;}
#promos .maskD,
#ccoeur .maskD{right:1px;background:url(../../images/carousel/maskD.png) top right no-repeat;background-size:100% 100%;}
#promos h2,
#ccoeur h2{position:absolute;border-top:3px solid #d1d1d1;color:#212121;font:normal 15px istok;height:40px;margin:0;padding:7px 0 0 18px;background:url(../../images/carousel/title-bg.png) bottom left no-repeat;}
#promos h2 strong{color:#ec3434;}
#ccoeur h2 strong{color:#f39900;}
#promos .ruban,
#ccoeur .ruban{position:absolute;z-index:1000;top:-3px;right:-3px;width:55px;height:55px;}
#promos .ruban{background:url(../../images/ruban-promo.png) top right no-repeat;}
#ccoeur .ruban{background:url(../../images/ruban-ccoeur.png) top right no-repeat;}
#promos a.seeall,
#ccoeur a.seeall{display:block;position:absolute;bottom:-13px;left:50%;margin-left:-40px;padding-top:13px;width:80px;height:29px;font:normal 0.7em istok;text-align:center;text-transform:uppercase;color:#fff;text-decoration:none;background:url(../../images/carousel/see-all-bg.png) top center no-repeat;}
#colD #promos,
#colD #ccoeur{position:relative;margin:20px 0;width:100%;background-size:100% 250px;}
#colD #promos,
#colD #ccoeur{height:265px;}
#colD .sky-carousel{height:244px;}
#colD .sc-content-wrapper h3{width:94%;margin-left:3%;bottom:46px;}
#colD #promos a.seeall,
#colD #ccoeur a.seeall{bottom:6px;}
#colD .sky-carousel .sc-nav-button{top:45%;}
#colD .sky-carousel .sc-content-wrapper p span.reduc{right:40px;bottom:130px;}
.js .sky-carousel{visibility:hidden;}
.sky-carousel{width:99%;height:183px;position:relative;overflow:hidden;margin:0 1px;}
.sky-carousel .sky-carousel-container{position:relative;list-style-type:none;float:left;margin:0;padding:0;}
.sky-carousel .sky-carousel-container li{position:absolute;border:0;}
.sky-carousel .sky-carousel-container li img{display:block;max-width:none !important;padding:9px;}
.sky-carousel .sky-carousel-container .sc-content{display:none;}
.sky-carousel .sc-content-wrapper{text-align:center;}
.sky-carousel .sc-content-wrapper .sc-content-container .sc-content{}
.sky-carousel .sc-content-wrapper h3{display:block;position:absolute;bottom:2px;width:60%;height:20px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;padding-top:5px;margin-left:20%;font-size:0.85em;color:#212121;text-align:center;font-weight:bold;background:url(../../images/carousel/label-shad.png) top center no-repeat;}
.sky-carousel .sc-content-wrapper p{display:block;position:absolute;z-index:9999;right:0;bottom:15px;color:#f39900;font-size:0.9em;line-height:1.1em;text-align:right;margin:0 13px 0 0;padding:0;border-bottom:1px dotted #aaa;}
.sky-carousel .sc-content-wrapper p span.reduc{display:block;position:absolute;color:#fff;text-align:center;padding-top:16px;bottom:90px;right:170px;width:45px;height:45px;overflow:hidden;background:url(../../images/carousel/reduc-bg.png) center center no-repeat;line-height:27px;}
.sky-carousel .sc-content-wrapper p span.reduc strong{font-size:1em;}
.sky-carousel .sc-content-wrapper p del{color:#de4e4e;font-size:0.95em;}
.sky-carousel .sc-content-wrapper p strong{font-size:1.35em;line-height:1.2em;}
.sky-carousel .sc-content-wrapper p small{color:#9d9d9d;}
.sky-carousel .sc-content-wrapper a{text-decoration:none;color:#d6d6d6;border-bottom:1px dotted #d6d6d6;}
.sky-carousel .sc-overlay{position:absolute;height:100%;z-index:4998;pointer-events:none;top:0;}
.sky-carousel .sc-overlay-left{left:-0.1px;}
.sky-carousel .sc-overlay-right{right:-0.1px;}
.sky-carousel .sc-nav-button{position:absolute;top:50%;z-index:5000;width:40px;height:40px;margin-top:-20px;}
.sky-carousel .sc-nav-button.sc-next{background:url("../../images/carousel/tooltip_skin_navigation.png") no-repeat -42px 0px;right:0px;}
.no-touch .sky-carousel:hover .sc-nav-button.sc-next{background:url("../../images/carousel/tooltip_skin_navigation.png") no-repeat -42px -41px;}
.sky-carousel .sc-nav-button.sc-prev{background:url("../../images/carousel/tooltip_skin_navigation.png") no-repeat 0px 0px;left:0px;}
.no-touch .sky-carousel:hover .sc-nav-button.sc-prev{background:url("../../images/carousel/tooltip_skin_navigation.png") no-repeat 0px -41px;}
.sky-carousel .sc-preloader{position:absolute;left:50%;top:50%;width:24px;height:24px;margin-top:-22px;margin-left:-22px;background:transparent url("../../images/home/ls-loading.gif") no-repeat 50% 50%;padding:10px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.sc-no-select{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
@media only screen
and (max-width:1000px){#alaune{margin:6px 0 0 6px;float:right;}
#promos,
#ccoeur{width:calc(100% - 250px) !important;float:left;}
#promos{margin:22px 0 10px 0;}
.sky-carousel .sc-content-wrapper h3{width:50%;margin-left:25%;}
}