@page{
	mso-header-data:&E&F;
	mso-footer-data:"&E&8&N&C&8&P\/&T&D&8&J - &H";
	margin:.83in .39in .59in .24in;
	mso-header-margin:.24in;
	mso-footer-margin:.2in;
	mso-horizontal-page-align:center;
}

.pageTitle{
	border:none;
	font-size:14.0pt;
	font-weight:bold;
	height:40px;
	text-align:center;
}

.table {
    border-collapse:collapse;
    font-family:"Arial";
    
}

.table th {
	background-color:#FFFF99;
    text-align:center;
    font-weight:bold;
    font-size:10.0pt;
    height:40px;
    border-top:1.0pt solid #000000;
    border-bottom:1.0pt solid #000000;
}

.table td {
    color:#000000;
    text-align:center;
    vertical-align:middle;
    font-size:10.0pt;
}

.theadLefter{
	border-left:1.0pt solid windowtext;
}

.theadRighter{
	border-left:.5pt solid windowtext;
	border-right:1.0pt solid windowtext;
}

.theadNormal{
	border-left:.5pt solid windowtext;
}

.normalCell{
    border-bottom:.5pt solid #000000;
    border-left:.5pt solid #000000;
}

.lefterCol{
    border-bottom:.5pt solid #000000;
    border-left:1pt solid #000000;
}

.righterCol{
    border-bottom:.5pt solid #000000;
    border-left:.5pt solid #000000;
    border-right:1pt solid #000000;
}

.tableLastLineLeft {
	border-left:1pt solid #000000;
	border-bottom:1.0pt solid #000000;
}

.tableLastLineRight {
    border-bottom:1pt solid #000000;
    border-left:.5pt solid #000000;
    border-right:1pt solid #000000;
}

.tableLastLineNormal {
    border-left:.5pt solid #000000;
	border-bottom:1.0pt solid #000000;
}