{if:isLogin}
		<flexy:include src="head/header.tpl"></flexy:include>
		<link rel="stylesheet" type="text/css" href="{baseURL}/templates/catalog/css/form_histo_groupement.css" />
		<link rel="stylesheet" type="text/css" href="{baseURL}/templates/catalog/css/jquery/ui-lightness/jquery-ui-1.7.1.custom.css" />

	<div id="content" class="account">
	{if:iduser}<span style="color:red;font-weight: bold;">/account/detail_marge_buyer.tpl</span>{end:}
		<div id="leftbloc">
					<flexy:include src="menu/menu_compte.tpl"></flexy:include>
		</div>
		
		<div id="categorybloc" class="account">
		
			<div class="intro">
	
		{detail:h}
		
			
	
		
	</div>
	<div class="spacer"></div>
	</div>
</div>	</div>
</div>
<flexy:include src="foot.tpl"></flexy:include>	

{else:}
	<flexy:include src="account.tpl"></flexy:include>
{end:}
