{if:isLogin}
		<flexy:include src="head/header.tpl"></flexy:include>
		<link rel="stylesheet" type="text/css" href="{baseURL}/templates/catalog/css/form_histo_groupement.css" />
		<link rel="stylesheet" type="text/css" href="{baseURL}/templates/catalog/css/jquery/ui-lightness/jquery-ui-1.7.1.custom.css" />
	<!--</head>
	<body>-->
	<style type="text/css">
			/* <![CDATA[ */
				
				.mainAccount:hover{
					background-color:#F5F5F5;
				}
				
				.openedAccount{
					background-color:#F5F5F5;
				}
				
				.openedAccount:hover{
					background-color:#F5F5F5;
				}
				.dataTable{
					width:75% !important
				}
				
			/* ]]> */
			</style>
			

	
	<!-- Header -->
	<!--<flexy:include src="head/banner.tpl"></flexy:include>-->

	<div id="content" class="account">
	{if:iduser}<span style="color:red;font-weight: bold;">/account/marge_category_buyer.tpl</span>{end:}
		<div id="leftbloc">
				<flexy:include src="menu/menu_compte.tpl"></flexy:include>			
		</div>
		
		<div id="categorybloc" class="account">
			<div class="intro">
<h2>R&eacute;partitions des produits / cat&eacute;gories</h2>
<br><br>

	{form:h}
<br><br>
	{result:h}
	
			
	</div>
	<div class="spacer"></div>
	</div>

<flexy:include src="foot.tpl"></flexy:include>	

{else:}
	<flexy:include src="account.tpl"></flexy:include>
{end:}
