<link type="text/css" rel="stylesheet" href="{start_url}/templates/catalog/css/effectScroll.css" />
<script src="{start_url}/js/jquery/jquery.mousewheel.js"></script>
<script src="{start_url}/js/jquery/jquery.scrollable-1.0.1.min.js"></script>



<div id="lastConsultTop">
	<span id="rightCornerTop"></span><span id="leftCornerTop"></span><div style="position: relative; top: 3px;"><img src="{start_url}/www/icones/puce_double_points.png" border="0">&nbsp;DERNIERS ARTICLES CONSULT&Eacute;S&nbsp;<img src="{start_url}/www/icones/puce_double_points.png" border="0"></div>
</div>
<div id="lastConsultation">
{if:iduser}<span style="color:red;font-weight: bold;">/lastConsultationProd.tpl</span>{end:}

	<a class="prev"></a>
	<div class="scrollable">
		<div class="items">
			{foreach:products,product}
				<div>
					<a style="text-decoration: none;" href="{product[productURL]}">
					<img align="center" style="top: 0; border: 2px solid #f2eef2; width:80px; height:80px;" src="{product[icone]}"></a>
					
				</div>
			{end:}	
		</div>
	</div>
	<a class="next"></a>
</div>
<div id="lastConsultBot"><span id="leftCornerBot"></span><span id="rightCornerBot"></span></div>
<script>
$(function() {		
	$("div.scrollable").scrollable();
});
</script>


<br /><br />