			<!--====================================== Colonne gauche ======================================-->
        
        	<div id="frameG">            	
            	{if:iduser}<span style="color:red;font-weight: bold;">/leftBanner.tpl</span>{end:}
            	<!-- Recherche --> 
            	<div class="module" id="mod-search">          	
                	<h4></h4>            
                    <div class="ctn"> 
                        <form id="SearchForm" method="post" action="{start_url}/catalog/search.php">
                            <label for="searchstring">Votre recherche</label>
                            <span class="inputG"></span>                            
                            <input  style="z-index: 300;" name="search" size="40" class="input" type="text" value="Rechercher..." onfocus="this.value = '';" onblur="if(this.value == '') this.value='Rechercher...'" />                            
                            <span class="inputD"></span>
                            <input type="hidden" name="idcategoryname" value="" />
							<input type="hidden" name="type" value="AND" />
							<input type="hidden" name="page" value="1" />
							<input type="hidden" name="resultPerPage" value="20" />
                            <input type="image" class="image png" name="Search" src="{start_url}/www/_images/0_general/btn_search.png" title="Rechercher" />
                        </form>
                        <div class="clear"></div>
                        <ul class="clear">
                        	<!--<li><a href="{start_url}/catalog/search.php">Recherche avancée</a></li>-->
                        	<li><a href="{start_url}/catalog/recap.php">Recherche alphabétique</a></li>
                        </ul>
					</div>
                    <div class="module-bottom"></div>
                </div>
                <!--                
                <div id="menuprod">
                	<h4>Nos produits</h4>                        
					<flexy:include src="menu/menu_alt.tpl"></flexy:include>
                </div>
                -->
				<div >	                
		          	<br/>
	                <a href="{start_url}/catalog/promotions.php?all"><img src="{start_url}/www/icones/frameG_btn_promo.png"/></a>
	                <br/>
	        		<a href="{start_url}/catalog/destock.php"><img src="{start_url}/www/icones/frameG_btn_destock.png"/></a>
                </div>
				<br/>

				
               	
               	<div class="clear"></div>
               
               	
               
               	<script type="text/javascript" language="javascript" src="{start_url}/js/cssmenu.js"></script>
			</div>