{if:iduser}<span style="color:red;font-weight: bold;">/login_form.tpl</span>{end:}

<form action="{baseURL}/catalog/account.php" method="post">
	{if:issetPostLoginAndNotLogged}
		<!-- Erreur lors de l'identification -->
		<p class="msgError">Votre identifiant ou mot de passe est incorrect.</p>
	{end:}

	<input type="image" class="image png" src="http://www.abisco.fr/www/_images/0_general/picto_login.png" />

	<span class="inputG"></span><input type="text"  value="email" name="Login" id="emaillogin" onclick="this.value=''" title="E-mail" /><span class="inputD"></span>
	<div class="clear"></div>

	<span class="inputG" style="*margin-top:-7px;"></span><input style="*margin-top:-7px;" type="password" value="mot de passe" name="Password" id="passwlogin" onclick="this.value=''" title="Mot de passe" /><span style="*margin-top:-7px;" class="inputD"></span>
	<div class="clear"></div>
</form>

<ul>
	<li><a href="{start_url}/catalog/register.php" style="margin-left: 4px;" rel="nofollow">Créer mon compte </a></li>				      				      
	<li><a href="#" onclick="forgotPassword(); return false;" style="margin-left: 4px;" rel="nofollow">Mot de passe oubli&eacute; ? </a></li>				      
</ul>