<flexy:include src="head.tpl"></flexy:include>

<flexy:include src="b_left.tpl"></flexy:include>

<!--====================================== Contenu ======================================-->
<div id="center" class="page">
{if:iduser}<span style="color:red;font-weight: bold;">/model.tpl</span>{end:}









</div> <!-- fin div center -->
<!--====================================== Fin du contenu ======================================-->
<!-- Colonne de droite de la page -->
<flexy:include src="b_right.tpl"></flexy:include>            
<!-- Pied de page -->
<flexy:include src="foot.tpl"></flexy:include> 
            


