body{scrollbar-face-color:#efefef;scrollbar-shadow-color:#efefef;scrollbar-highlight-color:#efefef;scrollbar-3dlight-color:#c7c7c7;scrollbar-darkshadow-color:#c7c7c7;scrollbar-track-color:#c7c7c7;scrollbar-arrow-color:#7b7b7b;}