/*////////////////////////////////////////////////////////*/
/*  CSS utilisées pour toutes les pages  */
/*////////////////////////////////////////////////////////*/


body { }
* { margin: 0px; padding: 0px; }
html { width: 100%; height: 100%; }
body { max-width: 100%; overflow-x: hidden; left: 0px; height: 100%; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 0.8em; line-height: normal; font-family: Arial, Helvetica, sans-serif; background: url("../images/bg_top.jpg") 50% 0% rgb(236, 234, 231); color: rgb(49, 49, 49); }
ul { list-style-type: none; }
a { color: rgb(111, 111, 111); text-decoration: underline; }
a:hover { text-decoration: none; }
form { padding: 0px; margin: 0px; }
p { text-align: justify; line-height: 1.3em; font-size: 12px; }
input { border: 1px solid rgb(224, 224, 224); color: rgb(111, 111, 111); float: left; font-size: 11px; height: 23px; margin: 0px 0px 8px; width: 139px; }
img { border: 0px; }
.clear { clear: both; display: block; }
fieldset { border: 0px none; margin: 0px; padding: 0px; }
textarea, input, select { display: inline-block; outline: none medium; }
input[type="text"],input[type="email"], input[type="password"], select, textarea { background-color: rgb(248, 248, 248); border: 2px solid rgb(182, 182, 182); border-radius: 0.2em; box-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 3px; color: rgb(116, 116, 116); font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: Arial, Helvetica, sans-serif; height: 15px; margin: 0px 0.2em 0px 0px; padding: 6px 11px 8px; }
#contents input[type="text"], #contents input[type="password"], #contents select, #contents textarea { background-color: rgb(244, 244, 244); }
textarea { overflow: auto; padding-top: 0.5em; }
input[type="submit"] { background-color: rgb(239, 137, 6); border: 0px none; border-radius: 14px; box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 2px; color: rgb(255, 255, 255); cursor: pointer; font-family: istok; font-weight: normal; height: 30px; margin: 0px; padding: 0.4em 1em 0.3em; text-align: center; }
input[type="text"]:disabled, input[type="password"]:disabled, select:disabled, textarea:disabled { opacity: 0.6; }
input[readonly="readonly"], select[readonly="readonly"], textarea[readonly="readonly"] { border: 0px none; }
button { border-style: none; cursor: pointer; }
input:focus, textarea:focus { border-color: rgb(254, 188, 104); box-shadow: rgb(239, 137, 6) 0px 0px 6px; }
input[type="submit"]:focus, input[type="submit"]:active { background-color: rgb(255, 172, 66); }
hr.underblocks1-2 {border: 0px none; clear: both; height: 25px; position: relative; width: 100%; max-width: 977px; margin: 0px; padding: 0px; left: 0px; z-index: 50; }
h1 em, h2 em, h4 em, h1 .em, h2 .em, h4 .em, h3 .em { color: rgb(243, 153, 0); font-style: normal; }
h2 { background: none 0px 0px repeat scroll rgb(250, 250, 250); color: rgb(243, 153, 0); font-family: Arial, "Trebuchet MS", Sans-serif, Helvetica; font-size: 0.97em; font-weight: bold; }
.blocksbottom { background-color: rgb(250, 250, 250); margin: 0px auto; max-width: 1000px; overflow: hidden; padding: 0px 0px 18px; position: relative; width: 100%; }
.floatL { float: left; }
.btn-med, .btn-small { background-color: rgb(243, 153, 0); display: inline-block; margin-bottom: 8px; margin-top: 10px; padding: 0px 11px; text-transform: uppercase; color: white !important; text-decoration: none !important; }
.btn-med { border-radius: 13px; box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 3px; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 11px; line-height: 2em; font-family: istok-bold; height: 21px; }
.btn-med:hover, .btn-big:hover { background-color: rgb(255, 176, 41); }
.with-left {float: left;width: 79%;}



/*////////////////////////////////////////////////////////*/
/*  Principales CSS  */
/*////////////////////////////////////////////////////////*/

/* Spécification écran*/
/* Templates /head/header.tpl et head.tpl */
div#mainContainer { position: absolute; z-index: 1; width: 100%; min-height: 100%; }

#contents { z-index: 2; background-color: background-color: rgb(0, 0, 75);  }
div#contents { margin: 0px auto; z-index: 2; max-width: 1000px; min-height: 600px; overflow: visible; padding: 0px 0px 45px; position: relative; width: 100%; background-color: rgb(255, 255, 255)}

 #main { width: 100%; max-width: 1000px; float: left; }
div#contents div#main { float: left; height: 1%; background-color:none; padding-bottom: 20px; }
div#contents div#main div#center { width: 100%; max-width: 1000px; margin: 0px; padding: 0px; box-sizing: border-box; }
div#contents div#main div.page { min-height: 380px; padding: 10px 0px 0px 12px !important; }


div#contents div#header { }


/* Barres latérales */
/* Templates b_left.tpl et b_right.tpl */
div#contents div#main div#frameG, div#contents div#main div#frameD { display: none; }
div#main div.module { border: 1px solid rgb(204, 204, 204); }
div#main div.module h4 { text-indent: 0px; font-size: 1.2em; color: rgb(243, 153, 3); }







#contents #multifiltersearch ul.subcategories_list { padding-top: 0px; }




#center .with-left .pathway { width: 57%; }

div.page .data, div.page .compare { width: auto; overflow: visible; }


/*  Entête et menu  */
div#header ul#quickmenu, div#header ul#assist, div#header ul#flags, div#header ul#institmenu, div#header h2 { position: absolute; margin: 30px 0px 0px 50px; color: rgb(243, 153, 3); font-size: 1.5em; display: block; text-indent: 0px; background: none; }
div#header h1::first-line { color: rgb(129, 129, 130); font-size: 13px; font-weight: normal; }
div#header h2 big { color: rgb(243, 153, 3); font-size: 1.3em; font-weight: bold; }
#header { max-width: 980px; position: relative; margin: 0px 10px !important; padding: 4px 0px 0px !important; height: 99px !important; }

#header div#menutop { margin: 0px; padding: 0px; top: 0px; width: 100%; height: 29px; min-width: 985px; }
#header div#menutop > ul { background-color: rgb(75, 75, 75); opacity: 0.6; display: block; float: right; height: 28px; margin: 0px; padding: 0px 10px 0px 6px; vertical-align: top; width: auto; }
#header div#menutop > ul li { border-left: 1px solid rgb(101, 101, 101); display: inline-block; margin-top: 0px; padding: 4px 8px 2px 3px; }
#header div#menutop > ul li a { color: rgb(255, 255, 255); float: left; font-size: 10px; line-height: 20px; height: 20px; text-decoration: none; text-transform: uppercase; }
#header div#menutop > ul li a small { color: rgb(243, 153, 0); font-weight: bold; }
#header div#menutop > ul li a:hover { text-decoration: underline; }

#header form#SearchForm { float: right; margin-top: 20px; }
#header form#SearchForm label { display: none; }
#header form#SearchForm input#search-text { background-color: rgb(255, 255, 255); height: 27px; left: -2px; position: relative; width: 209px; z-index: 50; padding: 0px !important; }
#header form#SearchForm select { width: 116px; }
#header form#SearchForm .sbOptions { border-image-source: none; border-image-slice: initial; border-image-width: initial; border-image-outset: initial; border-image-repeat: initial; border-radius: 0px 0px 5px; border-style: none none solid; border-width: 0px 0px 6px; left: -2px; top: 31px !important; width: 238px !important; }
#header form#SearchForm input[type="submit"] { border: 0px none; box-shadow: none; cursor: pointer; height: 29px; right: 36px; overflow: hidden; position: relative; text-indent: -10000em; width: 29px; z-index: 51; }

#header #loginpanel { background: rgb(107, 105, 102); border-bottom-right-radius: 8px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 2px 8px; height: 110px; margin-left: -66px; padding: 12px 10px 0px 24px; position: absolute; top: -140px; width: 560px; z-index: 500; right: 0px; }
#header #loginpanel div.h3 { color: rgb(255, 255, 255); float: left; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 1.2em; line-height: normal; font-family: istok; margin: 7px 12px -5px 0px; }
#header #loginpanel div.h3 .strong { color: rgb(243, 153, 0); float: left; font-weight: bold; margin-left: 5px; }
#header #loginpanel div.h3 .mon { float: left; }
#header #loginpanel form label { display: none; }
#header #loginpanel form input[type="text"], #header #loginpanel form input[type="password"] { width: 182px; }
#header #loginpanel input[type="submit"] { margin-left: 4px; margin-top: 4px; }
#header #loginpanel ul { clear: both; position: absolute; right: 50px; bottom: 16px; }
#header #loginpanel ul li { display: inline-block; padding: 0px 6px 0px 12px; }
#header #loginpanel ul li a { color: rgb(185, 185, 185); font-size: 0.85em; text-decoration: none; }
#header #loginpanel ul li a:hover { color: rgb(255, 255, 255); text-decoration: underline; }

/* Sous menu */
#menu { float: left; width: 980px; background: none; padding-bottom: 8px; }
#menu > ul > li:first-child { background: none 0px 0px repeat scroll transparent; }
#menu > ul > li > a { cursor: default; display: block; font-size: 12px; height: 38px; margin: 1px; padding: 8px 5px 16px; text-decoration: none; z-index: 100000; text-align: center; color: rgb(255, 255, 255) !important; background: none !important; }


#mainFrontMenu, #mainFrontMenu * { margin: 0px; padding: 0px; list-style: none; z-index: 999; }
#mainFrontMenu { line-height: 1.1; z-index: 9999999; }
#mainFrontMenu ul { background: none 0px 0px repeat scroll rgb(255, 255, 255); left: 0px; position: absolute; top: -999px; width: 992px; z-index: 1111; }
#mainFrontMenu ul li { width: 100%; z-index: 999; }
#mainFrontMenu li:hover { visibility: inherit; }
#mainFrontMenu li { float: left; }
#mainFrontMenu a { display: block; font-size: 11.5px; font-family: Arial, Helvetica, sans-serif; color: rgb(255, 255, 255); padding: 10px 5px; text-align: center; }
#mainFrontMenu li:hover ul, #mainFrontMenu li.sfHover ul { left: 0px; top: 2.5em; z-index: 99; }

#mainFrontMenu { float: left; margin-bottom: 1em; }
#mainFrontMenu a { text-decoration: none; }
#mainFrontMenu li { }
#mainFrontMenu li li, #mainFrontMenu li li li { background: rgb(255, 255, 255); }
#mainFrontMenu li:hover, #mainFrontMenu li.sfHover, #mainFrontMenu a:focus, #mainFrontMenu a:hover, #mainFrontMenu a:active { background-color: rgb(255, 255, 255); outline: 0px; color: rgb(243, 153, 3); cursor: pointer; }
#mainFrontMenu a.sf-with-ul { padding-right: 2.25em; min-width: 1px; }
#mainFrontMenu ul .sf-sub-indicator { background-position: -10px 0px; }
#mainFrontMenu ul a > .sf-sub-indicator { background-position: 0px 0px; }
#mainFrontMenu ul a:focus > .sf-sub-indicator, #mainFrontMenu ul a:hover > .sf-sub-indicator, #mainFrontMenu ul a:active > .sf-sub-indicator, #mainFrontMenu ul li:hover > a > .sf-sub-indicator, #mainFrontMenu ul li.sfHover > a > .sf-sub-indicator { background-position: -10px 0px; }
#mainFrontMenu { position: relative; width: 980px; background: rgb(95, 91, 84); height: 58px; margin: 0px 10px; display: block; }
#mainFrontMenu li { float: left; height: 58px; line-height: 1.1em; background: url("../images/menu/menu-sepa.png") 0px 10px no-repeat scroll transparent; display: inline-block; vertical-align: top; }
#mainFrontMenu li li a span, #mainFrontMenu li li a span { color: rgb(0, 0, 0); }
#mainFrontMenu li li { float: left; max-width: 260px; width: 230px; height: auto; background: none; padding-left: 10px; margin-top: 10px; margin-left: 10px; position: relative; margin-right: 150px; }
#mainFrontMenu li ul { min-height: 200px; height: auto; background-color: rgb(255, 255, 255); background-image: linear-gradient(rgb(255, 255, 255), rgb(242, 242, 242)); border-bottom: 6px solid rgb(223, 223, 223); border-bottom-right-radius: 6px; border-top: 4px solid rgb(243, 153, 0); left: 0px; margin: -8px 0px 0px; padding: 0px; position: absolute; width: 980px; z-index: 99999; }
#mainFrontMenu img { left: 50%; margin-left: 350px; display: none; position: absolute; z-index: 1000; top: 10px; margin-top: 57px; height: auto; padding: 5px; background: rgb(255, 255, 255); max-width: 140px; width: 130px !important; }
#mainFrontMenu li:hover img { display: block; }
#mainFrontMenu li:hover ul, #mainFrontMenu li.sfHover ul { left: 0px; top: auto; display: block !important; }
#mainFrontMenu .sf-sub-indicator { background-position: -10px 0px; }
#mainFrontMenu a > .sf-sub-indicator { background-position: 0px 0px; }
#mainFrontMenu a:focus > .sf-sub-indicator, #mainFrontMenu a:hover > .sf-sub-indicator, #mainFrontMenu a:active > .sf-sub-indicator, #mainFrontMenu li:hover > a > .sf-sub-indicator, #mainFrontMenu li.sfHover > a > .sf-sub-indicator { background-position: -10px 0px; }
#mainFrontMenu ul li a { color: rgb(33, 33, 33); display: inline-block; font-size: 12px; padding-bottom: 9px; text-decoration: none; position: relative; z-index: 100000; }
#mainFrontMenu li:hover > a { text-decoration: none; color: rgb(243, 153, 0) !important; background-color: rgb(255, 255, 255) !important; }
#mainFrontMenu ul::after { background: none; bottom: -21px; content: ""; display: block; height: 15px; position: absolute; width: 100%; }
#mainFrontMenu li ul ul { background-color: rgb(255, 255, 255); background-image: linear-gradient(rgb(255, 255, 255), rgb(242, 242, 242)); border-bottom: 6px solid rgb(223, 223, 223); border-bottom-right-radius: 6px; border-top: 4px solid rgb(243, 153, 0); height: auto; left: 0px; margin: -8px 0px 0px; min-height: 170px; padding: 0px; position: absolute; width: 200px; z-index: 99999; }
#mainFrontMenu li li li { background: none; float: left; max-height: 18px; margin-left: 10px; margin-top: 10px; max-width: 180px; padding-left: 10px; width: 180px; height: 20px; line-height: 12px; position: relative; z-index: 10000001; }
#mainFrontMenu li li li:hover { background: none; }
#mainFrontMenu li li a { padding-bottom: 3px; padding-top: 0px; text-align: left; font-size: 10.5px; }
#mainFrontMenu li ul li a p { line-height: inherit; color: rgb(0, 0, 0) !important; font-size: 10.5px !important; }

ul#mainFrontMenu li:hover li ul, ul#mainFrontMenu li.sfHover li ul { top: -999em; }
ul#mainFrontMenu li li:hover ul, ul#mainFrontMenu li li.sfHover ul { left: 220px; top: 0px; }
ul#mainFrontMenu li li:hover li ul, ul#mainFrontMenu li li.sfHover li ul { top: -999em; }
ul#mainFrontMenu li li li:hover ul, ul#mainFrontMenu li li li.sfHover ul { left: 185px; top: 0px; }

/* Chemin dans catégories */
#arbo { clear: both; margin: 0px; width: 100%; }
#arbo h2 { color: rgb(86, 86, 86); font-size: 1.5em; font-weight: normal; margin: 10px 20px 30px; }
#arbo h2 span { background-color: rgb(250, 250, 250); padding-right: 16px; }
#arbo > div { position: relative; width: 410px; padding: 35px 25px 0px 30px; margin: 0px 20px 20px 0px; border-left: 3px solid rgb(235, 235, 235); background-color: rgb(255, 255, 255); transition: background-position 0.4s, border-color 0.4s; display: inline-block !important; background-position: right 0px !important; }
#arbo > div:hover { border-color: rgb(243, 153, 0); background-position: right -6px !important; }
#arbo > div h3 { width: 250px; height: 30px; line-height: 1.1em; text-transform: uppercase; color: rgb(243, 153, 0); }
#arbo > div::after { display: block; position: absolute; left: -3px; bottom: -20px; content: ""; border-top: 1px solid rgb(250, 250, 250); width: 468px; height: 20px; background: url("../images/home/arbo-shad.png") right bottom no-repeat scroll transparent; }
#arbo > div::after { background: url("../images/arbo-shad.png") right bottom no-repeat scroll transparent !important; }
#arbo > div > ul { margin: 10px 16px 0px -10px; width: 230px; }
#arbo > div > ul > li { height: auto; margin-top: 2px; padding: 0px 0px 4px 12px; width: auto; }
#arbo > div > ul > li a { color: rgb(111, 111, 111); font-size: 0.9em; font-weight: normal; text-decoration: none; }
#arbo > div > ul > li a:hover { text-decoration: underline; }
#arbo .category_list { height: 175px; float: left; }



/* Chemin dans fiches produits */
#center ul.pathway, #content ul.pathway {display: inline-block; margin: 0px; width: 60%; padding: 0px 0px 40px !important; }
#center ul.pathway > li, #content ul.pathway > li { display: inline-block; position: relative; margin: 0px !important; padding: 0px 4px 0px 12px !important; }
#center ul.pathway > li:first-child, #content ul.pathway > li:first-child { background: none 0px center repeat scroll transparent; padding: 0px; position: relative; top: 3px; }


/* Pieds de page */
#footer { background: background(10, 105, 102);display: block; margin: 0px; padding: 0px 20px; width: 100%; box-sizing: border-box; }
#footer {
	display: none;
	display:block;
	margin:0;
	padding:0 20px;
	width:100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
#footer {
	background-color:rgb(50, 50, 50);

	background-position:center top, left top;
	background-position:left top\9;
	background-repeat:no-repeat, repeat-x;
	background-repeat:repeat-x\9;
	height:80px;
	overflow:visible;
	position:relative;
	top:0;
	margin-bottom:30px;
	width:100%;
}

/* Emplacement sous-catégories dans page d'accueil  */
#ID11 { width: 75px; }
#ID15 { width: 85px; }
#ID16 { width: 115px; }
#ID14 { width: 85px; }
#ID10 { width: 85px; }
#ID12 { width: 80px; }
#ID13 { width: 80px; }
#ID20 { width: 85px; }
#ID21 { width: 95px; }
#ID24 { width: 115px; border-bottom: 1px solid rgb(248, 152, 29); }
#ID25 { border-bottom: 1px solid rgb(248, 152, 29); }
#ID1409, #ID1404, #ID1401, #ID1304, #ID1302, #ID1319, #ID1314 { margin-top: 0px !important; }
#ID1419 { margin-top: -7px !important; }
#ID11, #ID20, #ID15, #ID16, #ID14, #ID10, #ID12, #ID13, #ID21 { border-bottom: 1px solid rgb(243, 153, 0); }


/* Barre de gauche */
#leftbloc { width: 180px;float: left;}
#leftbloc aside {width: 100%;border: 1px solid #e4e4e4;background: #fff;float: left;margin: 0 0 10px 0;}
#leftbloc aside ul {min-height: unset!important;padding: 0!important;}
#contents #colG ul li {background: url(../images/arrow-orange.png) 0px 2px no-repeat scroll transparent;line-height: 1.4em;margin: 0px 0px 6px 10px; padding-left: 16px;}
#leftbloc aside ul li a { font-size: 12px; color: #f39900;text-decoration: none!important;font-weight: normal;display: block; min-height: 60px;}
#leftbloc aside h3 {font-size: 15px;color: #f39900; padding: 10px 4px 5px;display: inline-block; width: 96%;}
#leftbloc aside li a {border-bottom: 1px solid #d6d4d4; color: #5f5b54 !important; display: block;font-size: 13px;font-weight: bold; line-height: 17px !important;padding: 7px 10px 7px 10px;min-height: inherit !important;}

.accountTable {
	color:#5C5C5C;
	font-size:12px;
	margin:10px;
	width:97%;
	float:left;	
}
.accountTable th {
	background:#F9F9F9;	
}
.accountTable td {
	border-bottom:1px solid #EEEEEE;
	padding:4px 8px;	
}
.accountTable th {
	border-bottom:1px solid #EEEEEE;
	padding:6px 8px;	
}
.accountTable .tdPrice {
	color:#C50106;
	font-weight:bold;	
}
.accountTable p {
	line-height:16px;
	margin:8px 0;	
}
.accountTable a {
	color:#000000;
	font-size:12px;
	text-decoration:none;	
}
.accountTable a:hover {
	color:#FA771C;	
}
.account table.dataTable tr {
    vertical-align: bottom;
}
.account .dataTable {float:left;}
.account .submitButtonContainer {
	padding-right:0px!important;
	margin-bottom: 0px!important;
    padding-top: 7px;
    float: left!important;
}
input#start_date, input#end_date {
    margin-top: 6px;
	height:23px;
	padding:0 0 0 11px;
}
select.ui-datepicker-month, select.ui-datepicker-year{
	height:23px;
	padding:0 0 0 4px;
}
/*
Prix produit à quel endroit ?
 */
#short_description_block li {color:#565656;margin:0 0 6px 0;	padding:0 0 0 8px;background:url(../../../templates/catalog/images/arrow_blue.png) left .45em no-repeat;ine-height:1em;}
#categorybloc .intro #text li {color:#565656;margin:0 0 6px 0;	padding:0 0 0 8px;background:url(../../../templates/catalog/images/arrow_orange.png) left .45em no-repeat;ine-height:1em;}
#categorybloc article p.price { font-size: 12px; color: rgb(85, 196, 194); font-weight: bold; text-align: right; line-height: 11px; margin: 5px 0px 0px; height: 15px; }
#categorybloc .intro article p.price { font-size: 12px; color: rgb(85, 196, 194); font-weight: bold; text-align: right; line-height: 11px; margin: 5px 0px 0px; }
#categorybloc article p.price del, #categorybloc .intro article p.price del { color: rgb(86, 86, 86); font-size: smaller; display: block; }
#categorybloc article p.price span, #categorybloc .intro article p.price span { font-size: 10px; font-weight: normal; display: block; }
#categorybloc article div.price { font-size: 12px; color: rgb(85, 196, 194); font-weight: bold; text-align: right; line-height: 11px; bottom: 25px; right: 0px; position: absolute; }
#categorybloc .intro article div.price { font-size: 12px; color: rgb(85, 196, 194); font-weight: bold; text-align: right; line-height: 11px; margin: 5px 0px 0px; }
#categorybloc article div.price del, #categorybloc .intro article div.price del { color: rgb(86, 86, 86); font-size: smaller; display: block; }
#categorybloc article div.price span, #categorybloc .intro article div.price span { font-size: 10px; font-weight: normal; display: block; }


/* Panier dans catégories et fiches produits */
.catalog #panier-b { float: right; height: 76px; margin-top: -15px; width: 324px; }
.catalog #panier-b .part-l h3 strong, .catalog #panier-b .part-l h3 .strong, .catalog #panier-b .part-l .h3 .strong { color: #FFFFFF; font-family: istok-bold; font-size: 1.1em; font-weight: normal; }
.catalog #panier-b .part-l span.num strong, .catalog #panier-b .part-l span.num .strong { background-color: rgb(95, 91, 84); display: block; float: left; padding: 1px 4px; }
.catalog #panier-b .part-l, .catalog #panier-b .part-r { display: inline-block; float: left; text-decoration: none; }
.catalog #panier-b .part-l { color: #FFDDA2; margin-top: 16px; /*padding-left: 70px;*/ width: 45%; }
.catalog #panier-b .part-r { color: #F39900; margin-left: 20px; margin-top: 18px; width: 34%; }
.catalog #panier-b .part-r span.total { font-size: 0.95em; font-weight: bold; }
.catalog #panier-b .part-r .btn-med { margin-top: 4px; }
.catalog #panier-b .part-r span.total strong, .catalog #panier-b .part-r span.total .strong { color: rgb(59, 59, 59); font-weight: bold; }

.title_commande { color:#f5a900; font-size:14px; background:url(../images/icons-devis.jpg) no-repeat; height:22px; padding:7px 0 0 30px; border-bottom:1px dotted #cccccc; float:left; width:500px; margin:0 0 5px 0; }

.basket_fil { display: block; margin: 5px 0 10px 0; padding: 0; }
.basket_fil li { display: inline-block; padding:0 0 0 15px; height:13px; margin:0 10px 0 0; }
.basket_fil .un { background:url(../images/commande_etape1.jpg) no-repeat; }
.basket_fil .deux { background:url(../images/commande_etape2.jpg) no-repeat; }
.basket_fil .trois { background:url(../images/commande_etape3.jpg) no-repeat; }
.basket_fil .quatre { background:url(../images/commande_etape4.jpg) no-repeat; }
.basket_fil .actif { background-position: left bottom; color:#f5a900 !important; font-weight:bold; }

/* Etape 1 */
.content_basket th { padding:5px; border-bottom:1px solid #eeeeee !important; font-size:10px; color:#6f6f6f; font-weight:700; }
.content_basket td { padding:5px; border-bottom:1px solid #eeeeee !important; font-size:10px; color:#6f6f6f; }
.content_basket td.price { font-weight:bold; color:#f39903; }
.content_basket input { width:50px; color:#6f6f6f; font-size:10px; /*background:url(../images/background-input-devis.jpg) no-repeat right bottom;*/ height:24px; border:1px solid #6f6f6f; }

.recap_basket { width:230px; float:right; }
.recap_basket th { padding:5px; border-bottom:1px solid #eeeeee !important; font-size:10px; color:#6f6f6f; text-align:left; }
.recap_basket td { padding:5px; border-bottom:1px solid #eeeeee !important; font-size:10px; color:#6f6f6f; text-align:right; }
.recap_basket td.price { font-weight:bold; color:#f39903; }

a.btn_continue { color:#6f6f6f; font-size:11px; background:url(../images/background-submit-cancel-devis.png) no-repeat; width:140px; height:21px; float:left; cursor:pointer; margin:10px 0 0 0; padding: 0 0 0 22px; text-decoration: none; line-height: 19px; }
a.btn_send { padding:3px 0 0 0; color:#ffffff; font-size:11px; background:url(../images/background-submit-valid-devis.jpg) no-repeat; width:152px; height:21px; float:right; cursor:pointer; margin:10px 5px 0px 0; text-align:center; text-decoration: none;  }
input.btn_send_register { color:#ffffff; font-size:0px; background:url("../images/btn_panier-small.png") no-repeat scroll center top #F39903; width:140px; height:27px; float:right; cursor:pointer; margin:7px 5px 0px 0; text-align:center; text-decoration: none; color:transparent; overflow:hidden; padding:0px;  }

.content_basket input.input_actualiser { cursor:pointer; width:110px; height:22px; background:url(../images/btn_actualiser-com.jpg) no-repeat; font-size:11px; color:#777777; padding:0 0 0 25px; border:0 none; font-weight:bold; text-decoration:none; }

/* Etape 2 */
.form_left { margin:10px 0; }
.form_right { margin:10px 0; }

.form_left label, .form_right label { width:168px; float:left; color:#6f6f6f; padding:0 5px 0 0; font-size:11px; text-align: left; margin:0 0 8px 0; }
.asterix { color:#f5a900; }
.form_left input, .form_right input { width:230px; float:left; color:#6f6f6f; font-size:11px; margin:0 0 8px 0;   height:23px; border:1px solid #e0e0e0; }
.form_left .input_radio, .form_right .input_radio { float: none!important; width: auto !important; }
.form_left select, .form_right select { width:254px !important; float:left; color:#6f6f6f; font-size:11px; margin:0 0 8px 0; height:23px; border:1px solid #e0e0e0; }


/*basket.htm.php*/

.divGeneralBasket {
	text-align: center; 
	width: 200px; 
	z-index: 10; 
	position : absolute ; 
	right : -5px ; 
	top : 60px;
}
ul.basket_fil li a{text-decoration:none;cursor:pointer;}
form#ValidateAdresses{
	display: inline-block;
    width: 100%;
}

.finish .content_basket{width:100%}
.finish .content_basket th:nth-child(2){width:535px;}
.finish .recap_basket{margin-right:5px}
.order .recap_basket{margin-right:27px}
.recap_basket {width:260px;}
.recap_basket th.Amounts_port{
    font-size: 11.4px;
}
.recap_basket td.price {
    font-size: 12px;
}
.content_basket input.input_actualiser{background-position-y:-2px}

#frmcde .content_basket{width:99%;}
form#frmcde tr td:first-child {
    border-left: 1px solid #eee;
}
form#frmcde td,form#frmcde tr td:first-child {
    border-right: 1px solid #EEE;
}
a.btn_continue{line-height:21px;}
a.btn_continue{margin-top:30px;}
.divGeneralBuyer {
	text-align: center;
	width: 200px;
	z-index:10; 
	position : absolute ; 
	right : -5px ; 
	top : 30px;
}

.paddingTD {
	padding-top: 4px;
}


.tableInputBuyer{
	border-collapse: collapse;
	width: 340px;
}

/*choix paiement*/
ul.listPaiement {
    margin-top: 10px;
}
.listPaiement li {
    width: 170px;
    height: 100px;
    background: linear-gradient(#fff, #fbfbfb);
    margin-right: 15px;
    float: left;
    padding: 10px;
    border-radius: 1px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}
.listPaiement label {
	cursor:pointer;
}
.listPaiement span {
    font-weight: bold;
    top: -1px;
    position: relative;
    font-size: 13.5px;
}
#cb img {
    display: block;
}
img.pay_paybox {
    width: 80px;
}
.payment_block {
    height: 100%;
    position: relative;
}
.payment_block img{
    position: absolute;
	bottom:0px;
}

/* affichage liste de produits  fiches produits, promotions, pages statiques*/

.subcategories { clear: both; }
ul.subcategories_list li a.btn-det { text-align: left; }
/*search filter*/
#multisearchForm .intitule_title{
	float:left;
	margin-right:20px;
}
#multisearchForm .intitule_title b{
	color: #F39900;
	float:left;
	height:30px;
	line-height:30px;
	margin-right:10px;
}
.filter_title {
    font-weight: bold;
    font-size: 14px;
    color: #F39900;
    float: left;
    margin: -20px 30px 5px 0px;
    padding: 3px;
}
.filter-choice {
    float: left;
	height:auto;
	line-height:32px;
}
.filter-choice input {
    width: 23px;
    position: relative;
    top: 5px;
    margin-right: 5px;
}
div.page .product_block ul.list_product li a span.small {
    margin-top: 55px;
}
.searchfilter {
    font-size: unset!important;
	display:inline-block;
	width:98%;
}
/*fin search filter*/
div.page.home ul.list_product li a span.price small { font-size: 10px !important; }

.list_product h2, .subcategories_list h2 { background: none 0px 0px repeat scroll rgba(0, 0, 0, 0); position: relative; z-index: 999; top: -100px; width: auto !important; color: rgb(0, 0, 0) !important; font-size: 1em !important; margin: 0px !important; }
.list_product li h2 a, .subcategories_list li h2 a { display: inline; margin-top: 0px; }
/*.list_product li h2 a:hover, .subcategories_list li h2 a:hover { border: none !important; }
.list_product li:hover h2 a, .subcategories_list li:hover h2 a { border: none !important; }*/
td .list_product h2, .subcategories_list h2 { top: 25px; }
td .list_product h2 a, .subcategories_list h2 a { color: rgb(0, 0, 0) !important; }
td .list_product li a, .subcategories_list li a { margin-top: -4px; }
ul.list_product li, ul.subcategories_list li { background-color: transparent; background-repeat: no-repeat; display: inline-block; height: 243px; overflow: hidden; position: relative; text-align: center; vertical-align: top; width: 218px; z-index: 39; /*background-image: linear-gradient(rgb(235, 235, 235) 0%, rgb(255, 255, 255) 16%, rgb(255, 255, 255) 84%, rgb(242, 242, 242) 100%) !important; background-position: center center !important; background-size: 100% 222px !important; margin: 11px 10px 10px 0px !important;*/ padding: 0px !important; }
ul.list_product li::after, ul.subcategories_list li::after { content: ""; height: 28px; left: 0px; position: absolute; width: 218px; z-index: 40; background: url("../images/catalog/list-bg-bottom.png") center top / 100% 100% no-repeat scroll transparent !important; bottom: 0px !important; }
ul.list_product li::before, ul.subcategories_list li::before { content: ""; display: block; height: 11px; left: 0px; position: absolute; top: 0px; width: 218px; /*background: url("../images/catalog/list-bg-top.png") center top no-repeat scroll rgb(250, 250, 250) !important;*/ }
ul.list_product li a, ul.subcategories_list li a { border: 1px solid transparent; display: block; height: 60px; text-align: center; width: 217px; text-decoration: none !important; }
ul.list_product li a.btn-det, ul.list_product li a.btn-buy, ul.subcategories_list li a.btn-det { bottom: 60px; display: block; height: 60px; left: -60px; position: absolute; width: 60px; z-index: 45; border: 0px none !important; }
ul.list_product li:first-child, ul.subcategories_list li:first-child { margin-right: 0px; }
ul.list_product li:hover, ul.subcategories_list li:hover { /*background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 16%, rgb(255, 255, 255) 84%, rgb(255, 255, 255) 100%) !important;*/ }
ul.list_product li:hover::after, ul.subcategories_list li:hover::after { rgb(33, 33, 33) transparent !important; }
/*ul.list_product li:hover a, ul.subcategories_list li:hover a { width: 215px; border: 1px solid rgb(211, 211, 211) !important; }*/
ul.list_product li:hover a.btn-det, ul.subcategories_list li:hover a.btn-det { border: 0px !important; }
ul.list_product li a small, ul.subcategories_list li a small { color: rgb(101, 101, 100); display: block; font-size: 0.8em; line-height: 0.8em; margin: 4px 0px 15px; }
ul.list_product li a small strong, ul.subcategories_list li a small strong { color: rgb(243, 153, 0); }
ul.list_product li a h2, ul.subcategories_list li a h2 { line-height: 1.2em; position: absolute; width: 80%; background: none 0px 0px repeat scroll rgba(0, 0, 0, 0); color: rgb(33, 33, 33) !important; margin-left: 10% !important; margin-top: 12px !important; font-size: 11.2px !important; }
ul.list_product li:hover a h2, ul.subcategories_list li:hover a h2 { color: rgb(243, 153, 0) !important; }

.products { clear: both; width: 100% !important; }
.products ul.list_product { float: left; margin-bottom: 0px; margin-right: 0px; margin-top: 0px; padding-top: 0px !important; }
.products ul.list_product li::before, .products ul.list_product li::after { width: 210px; }
.products ul.list_product li { height: 340px; width: 212px; display: inline-block; }
.products ul.list_product li a { height: 320px; text-align: left; width: 210px; margin-top: 11px; }
.products ul.list_product li a img { left: 50%; margin-left: -85px; margin-top: 40px; /*position: relative;*/ }
.products ul.list_product li a.btn-det, .products ul.list_product li a.btn-buy { bottom: 30px; }
.products ul.list_product li a h4, .products ul.list_product li a h2, .products ul.list_product li a .h2 { max-height: 40px; overflow: hidden; padding: 0px; position: relative; text-overflow: ellipsis; width: 90%; background: none 0px 0px repeat scroll rgb(255, 255, 255); font-weight: bold; font-size: 11.2px; margin: 4px 0px 0px 10px !important; color: rgb(111, 111, 111) !important; }
.products ul.list_product li a small { color: rgb(171, 171, 171); display: inline-block; margin: 2px 0px 0px 6px; line-height: 12px; }
.products ul.list_product li a span.price span.strong.smallttc { font-size: 10px !important; padding-bottom: 0px !important; }
.products ul.list_product li a span.price { display: inline-block; text-align: right; width: 90%; z-index: 50; line-height: 1em; bottom: 38px !important; height: 20px !important; position: absolute !important; right: 15px !important; }
.products ul.list_product li a span.price del { color: rgb(222, 78, 78); font-size: 11px; }
.products ul.list_product li a span.price strong, .products ul.list_product li a span.price span.strong { border-bottom: 1px dotted rgb(168, 168, 168); display: block; float: right; margin-left: 3px; font-weight: bold; width: auto; color: rgb(243, 153, 3); clear: both; font-size: 15.3px !important; }
.products ul.list_product li a span.price strong small, .products ul.list_product li a span.price span.strong small { color: rgb(243, 153, 0); font-weight: normal; line-height: 12px; }
label.label_product {
	display:block;
	width:100%;	
}
.ckSearchFilter {
    line-height: 20px;
    overflow: hidden;
}
.ckSearchFilter input {
    width: 30px;
}
.home .products { max-width: 744px; float: left; }
.home .products ul.list_product { margin: 0px 0px 40px !important; }
.home .products ul.list_product li::before, .home .products ul.list_product li::after { width: 236px; }
.home .products ul.list_product li { height: 283px; width: 238px; background-size: 236px 262px !important; margin: 0px 8px 0px 0px !important; }
.home .products ul.list_product li a { height: 263px; width: 234px; }
.home .products ul.list_product li a span.price del * { color: rgb(222, 78, 78) !important; }
.home .products ul.list_product li a img { margin-left: -75px; margin-top: 35px !important; }
ul.list_product li a.btn-det, ul.list_product li a.btn-buy, .home ul.list_product li a.btn-det, .home ul.list_product li a.btn-buy { bottom: 60px; display: block; height: 60px; left: -60px; position: absolute; width: 60px; z-index: 45; border: 0px none !important; }

div.page ul.listcats li a, div.page ul.listcats li a span.nameprod, div.page ul.list_product li a span.nameprod { font-weight: normal; font-size: 0.9em; text-decoration: none; line-height: 1.4em; }
div.page ul.listcats li a span.nameprod, div.page ul.list_product li a span.nameprod { color: rgb(49, 49, 49); }
div.page ul.listcats li a img { display: block; }
div.page ul.listcats img { border: 1px solid rgb(208, 208, 208); }
div.page ul.listcats li { width: 118px; min-height: 150px; padding: 0px 6px 20px; float: left; }
div.page ul.listcats li a span.nbrefs { color: rgb(243, 153, 3); padding: 0px 0px 0px 8px; background: none; display: block; }

div.page ul.list_product div.visuel, div.page ul.listcats div.visuel { position: relative; }
div.page ul.list_product div.visuel a.buy, div.page ul.list_product div.visuel a.devis { display: block; height: 18px; overflow: hidden; border-style: solid; border-color: transparent; text-indent: 1000em; }
div.page ul.list_product div.visuel a.buy { top: 40px; border-width: 36px 14px 1px 6px; background: non; }
div.page ul.list_product div.visuel a.devis { width: 56px; border-width: 1px 50px 38px 6px; background: none; }
div.page ul.list_product li div.visuel span.commands { position: absolute; left: 0px; display: block; margin: 1px; opacity: 0; width: 112px; height: 112px; }
div.page ul.list_product li div.visuel span.visible { opacity: 1; }
div.page ul.list_product li div.visuel img.transp { }
div.page ul.list_product li a, div.page ul.listcats li a { }
div.page ul.list_product li a p, div.page ul.list_product li a span { display: block; float: left; width: 110px; text-align: left; padding: 0px 0px 5px; }
div.page ul.list_product li a span.nameprod { float: left; font-weight: bold; }
div.page ul.list_product li a span.nbrefs, div.page ul.list_product li a span.price { color: rgb(243, 153, 3); }
div.page ul.list_product li a span.seeproduct { display: block; width: 55px; height: 16px; overflow: hidden; text-indent: 1000em; background: none; }
div.page ul.list_product li a span.price small { font-size: 0.8em !important; }
div.page ul.list_product li a span.price big { font-size: 1.7em; line-height: 1.2em; font-weight: bold; }

.cat-marque .products .list_product li::before { background: none !important; }
.cat-marque .list_product li h2 { height: 40px; margin: 0px 4px !important; }
.cat-marque .products ul.list_product li a { margin-top: 10px; }

div.cat-marque ul.list_product li a span.small { clear: both; font-size: 10px; line-height: 10px; margin-top: 60px; width: 100%; text-align: left; float: left; display: block; }
div.cat-marque ul.list_product li a span.strong { display: block; float: left; width: auto; text-align: left; padding: 0px 0px 2px; font-weight: bold; margin: 0px 5px 0px 10px; color: rgb(243, 153, 0); }

div.trade.page ul.list_product li a span.small { margin-top: 55px; }
.page.catalog.trade .list_product h4 { font-size: 0.85em !important; }

.pdt_complementaire ul.list_product li:hover h4 a { border: none !important; }
.pdt_complementaire .products ul.list_product li a img { margin-top: 30px; }
.pdt_complementaire ul.list_product li a span.price { bottom: -20px; position: relative; right: 0px; }

.search_page .list_product h2 { font-size: 0.85em !important; }
.search_page div.page ul.list_product li a span.small { margin-top: 60px; }


/* Recherche par filtre */
.searchfilter {font-size: unset!important;display: inline-block;width: 79%;}
#multifiltersearch { margin-top: -22px; width: 70%;}
div#filtersearch {width: 30%;}
.with-left { float: left; width: 79%;}
.searchfilter {font-size: unset!important;display: inline-block; /*width: 98%;*/float: left;}



/* Ruban promotion */
.ruban { height: 55px; position: absolute; right: 0px; top: 9px; width: 55px; z-index: 10; }
.home .ruban.promo { width: 110px; height: 94px; background: url("../images/ruban-promo-pct.png") right top no-repeat scroll rgba(0, 0, 0, 0); }
.home .ruban.promo span { display: block; position: absolute; width: 107px; height: 30px; top: 20px; right: -10px; font-size: 1.6em; text-align: center; color: rgb(228, 2, 2); transform: rotate(45deg); }
.home .ruban.promo span small { display: inline; font-size: 0.6em; margin: 0px; color: rgb(228, 2, 2); }
.ruban.ccoeur { background: url("../images/ruban-ccoeur.png") right top no-repeat scroll rgba(0, 0, 0, 0); }
#promos .ruban, #ccoeur .ruban { position: absolute; z-index: 1000; top: -3px; right: -3px; width: 55px; height: 55px; }
#promos .ruban { background: url("../../images/ruban-promo.png") right top no-repeat; }
#ccoeur .ruban { background: url("../../images/ruban-ccoeur.png") right top no-repeat; }


/* Pagination résultat moteur de recherche */
div.page ul.pagination { text-align: center; clear: both; margin: 10px 0px 20px; }
div.page ul.pagination li { width: auto; display: inline; line-height: 2em; }
div.page ul.pagination li a { width: 1%; text-align: center; padding: 4px; font-size: 1em; color: rgb(243, 153, 3); text-decoration: none; }
div.page ul.pagination li a:hover { text-decoration: underline; }
div.page ul.pagination li a.active { color: white; background: none; }
div.page ul.pagination li a.pag-prev { padding: 0px 0px 0px 10px; margin: 0px 5px 0px 0px; width: 150px; background: none; }
div.page ul.pagination li a.pag-prev .off { color: rgb(182, 182, 182); background: none; }


/* Prix principal dans fiche produit */
#actions {float: left; margin-left: 10px; text-align: left; width: 45%; }
#actions span.price small { color: rgb(157, 157, 157); display: block; font-size: 0.8em; }
#actions span.price strong { border-bottom: 1px dotted rgb(174, 175, 173); color: rgb(243, 153, 0); font-size: 1.8em; }
#actions span.price strong small { color: rgb(243, 153, 0); display: inline; font-weight: normal; }
.catalog #action span.price small { color: rgb(157, 157, 157); display: block; font-size: 0.8em; }
.catalog #action span.price del { display: block; font-size: 1.35em; }
.catalog #action span.price strong { border-bottom: 1px dotted rgb(174, 175, 173); color: rgb(243, 153, 0); font-size: 1.8em; }
.catalog #action span.price strong small { color: rgb(243, 153, 0); display: inline; font-weight: normal; }
.htttc{display: none;}

/* Positionnement detail8.tpl */
#contents .sidepanel { background-repeat: no-repeat, no-repeat; background-size: 96% 6px, 8px 100%; position: relative; width: 100%; }
#contents .sidepanel > div { background-color: rgb(230, 230, 230); border-bottom-right-radius: 6px; }


/* Formulaire client */
#logininregister > label { clear: both; color: rgb(111, 111, 111); float: left; font-size: 11px; width: 168px; }
#logininregister > label, .form_left label, .form_right label { line-height: 38px; }
#logininregister input[type="text"], #logininregister input[type="password"] { border: 1px solid rgb(224, 224, 224); margin-bottom: 10px; width: 264px; height: 23px !important; }
#logininregister input[type="submit"] { clear: both; margin-bottom: 10px; }
#logininregister input[type="submit"] { font-size: 15px; height: 24px; padding: 0px 10px; width: auto; }
input.not_valid,select.not_valid{border:1px solid #f00!important;box-shadow: 0px 0px 3px #f00!important;}
input.valid,select.valid{border:1px solid #2ca02c!important;box-shadow: 0px 0px 3px #2ca02c!important;}
span.not_valid{
	height: 38px;
    line-height: 38px;
    margin-left: 10px;
    font-style: italic;
	color:#f00;
}
#loginblock span.not_valid{
	display: inline-block;
    float: left;
    line-height: normal;
    margin-left: 168px;
    height: auto;
    margin-top: -6px;
    margin-bottom: 10px;
}
.not_valid+span.check, .valid+span.check{
	content: '';
	width:20px;
	height:20px;
	background:url(../../../images/field_check.png) transparent;
	float:left;
	margin:10px 0 0 8px;
}
.not_valid+span.check{
	background-position: 19px 0px;
}
.valid+span.check{
	background-position: -3px 0px;
}

.contact .form_left { width: 265px; float: left; }
.contact .form_left label, .form_right label { width: 90px; float: left; color: rgb(111, 111, 111); padding: 0px 5px 0px 0px; font-size: 11px; text-align: right; margin: 0px 0px 8px; }
.contact .asterix { color: rgb(245, 169, 0); }
.contact .form_left input, .form_right input { width: 164px; float: left; color: rgb(111, 111, 111); font-size: 11px; margin: 0px 0px 8px; background: url("../images/background-input-devis.jpg") right bottom no-repeat; height: 13px; border: 1px solid rgb(111, 111, 111); }
.contact .form_left select, .form_right select { width: 80px; float: left; color: rgb(111, 111, 111); font-size: 11px; margin: 0px 0px 8px; background: url("../images/background-input-devis.jpg") right bottom no-repeat; height: 18px; border: 1px solid rgb(111, 111, 111); }
.contact .btn_send { color: rgb(255, 255, 255); font-size: 11px; width: 140px; height: 21px; float: right; cursor: pointer; margin: 0px; padding: 0px; }
.contact .title_devis_contact { color: rgb(245, 169, 0); font-size: 14px; background: url("../images/icons-contact.jpg") 0px 6px no-repeat; height: 22px; padding: 7px 0px 0px 30px; border-bottom: 1px dotted rgb(204, 204, 204); margin: 10px 0px 5px; float: left; width: 500px; }
.contact div.spacer { clear: both; }
.contact div.form_left { width: 100%; }
.contact .tdContact ul.contactList { text-align: center !important; }
.contact table.BorderedPhone { margin-left: auto; margin-right: auto; text-align: left; }


/* Masque detail_8.php */
.page div.infostech table td.comp_class ul li { display: block; float: left; }
div.page div.infostech { position: relative; clear: both; margin: 20px 0px 30px; padding: 10px 0px 0px; }
div.page div.infostech .data { overflow-x: auto; overflow-y: hidden; }
div.page div.infostech div.ombretabG, div.page div.infostech div.ombretabD { position: absolute; width: 10px; height: 100%; top: 0px; }
div.page div.infostech div.ombretabD { right: 0px; background: url("../images/tab_shadowD.png") right center no-repeat; }
div.page div.infostech table { margin: 0px 10px 30px 0px; padding: 0px 10px 0px 0px; font-size: 0.9em; }
div.page div.infostech table tr.tb_head th.G { rgb(183, 183, 183); text-align: left; }
div.page div.infostech table tr.tb_head th.D { rgb(254, 136, 25); }
div.page div.infostech table tr th { text-align: left; padding: 4px 5px 6px 10px; font-weight: normal; color: rgb(116, 116, 116); border-bottom: 1px solid rgb(231, 231, 231); background-color: rgb(219, 219, 219); }
div.page div.infostech table tr.tb_head th { color: white; height: 23px; padding: 0px 10px; margin: 0px; line-height: 1.1em; font-weight: bold; background-color: rgb(183, 183, 183); border-bottom: 2px solid white; text-align: center; }
div.page div.infostech table tr td { text-align: center; width: 200px; height: 20px; padding: 4px 5px; border-bottom: 1px solid rgb(247, 247, 247); background-color: rgb(236, 236, 236); }
div.page div.infostech table tr th table tr td { text-align: center; width: 200px; height: 20px; padding: 4px 5px; border-bottom: 1px solid rgb(247, 247, 247); background: url("../images/tab_td_sepaV.png") right top repeat-y rgb(219, 219, 219); }
div.page div.infostech table tr td.empty { background: none transparent !important; border: 0px !important; }
div.page div.infostech table tr.tb_sepa th, div.page div.infostech table tr.tb_sepa td { border-bottom: 3px solid white; }
div.page div.infostech table tr.tb_last th, div.page div.infostech table tr.tb_last td { border: none; }
div.page div.infostech table tr th.HG { background: url("../images/tab_th_hg.png") left top no-repeat rgb(219, 219, 219); }
div.page div.infostech table tr th.BG { background: url("../images/tab_th_bg.png") left bottom no-repeat rgb(219, 219, 219); }
div.page div.infostech table tr td.HD { background: url("../images/tab_td_hd.png") right top no-repeat rgb(236, 236, 236); }
div.page div.infostech table tr td.BD { background: url("../images/tab_td_bd.png") right bottom no-repeat rgb(236, 236, 236); }
div.page div.infostech table tr td a.btn_ok_orange, div.page div.infostech table tr td a.btn_ok_grey { display: block; text-align: center; height: 15px; text-indent: -10000px; }
div.page div.infostech table tr td a.btn_ok_orange { background: url("../images/btn_ok_orange.png") center top no-repeat; }
div.page div.infostech table tr td a.btn_ok_grey { background: url("../images/btn_ok_grey.png") center top no-repeat; }
div.page div.infostech table tr td input { color: rgb(111, 111, 111); font-size: 1em; padding: 0px; border: 0px; }
div.page div.infostech table tr.tabcomp_H *, div.page div.infostech table tr.tabcomp_B * { border: 0px; }
div.page div.infostech table tr.tabcomp_H th { width: 1%; text-align: center; border-left: 1px solid rgb(223, 223, 223); background: url("../images/tab_comp_HG.png") center top no-repeat; }
div.page div.infostech table tr.tabcomp_H th a { text-decoration: none; }
div.page div.infostech table tr.tabcomp_H th img { border: 1px solid rgb(224, 224, 224); margin: 2px 0px 4px; }
div.page div.infostech table tr.tabcomp_H th.tabcomp_HG { border: 0px; background: url("../images/tab_comp_HG.png") left top no-repeat; }
div.page div.infostech table tr.tabcomp_H th.tabcomp_HD { background: url("../images/tab_comp_HD.png") right top no-repeat; }
div.page div.infostech table tr.tabcomp_B td { width: 1%; height: 26px; text-align: center; padding: 0px 0px 0px 28px; border-left: 1px solid rgb(223, 223, 223); border-bottom: 1px solid white; background: url("../images/tab_comp_BD.png") center top no-repeat; }
div.page div.infostech table tr.tabcomp_B td.tabcomp_BG { border-left: 0px; background: url("../images/tab_comp_BG.png") left top no-repeat; }
div.page div.infostech table tr.tabcomp_B td.tabcomp_BD { background: url("../images/tab_comp_BD.png") right top no-repeat; }
div.page div.infostech table tr.tabcomp_B td ul { text-align: center; }
div.page div.infostech table tr.tabcomp_B td ul li { display: block; float: left; }
div.page div.infostech table tr.tabcomp_B td ul li a { display: block; width: 20px; height: 14px; text-indent: -10000px; }
div.page div.infostech table tr.tabcomp_B td ul li a.comp_buyer { background: url("../images/btn_comp_buyer.png") 0px 0px no-repeat; }
div.page div.infostech table tr.tabcomp_B td ul li a.comp_suppr { background: url("../images/btn_comp_suppr.png") 0px 0px no-repeat; }


/* Comparateur */
div.page ul.opt_compare { margin: 0px; }
div.page ul.opt_compare li { display: inline; margin: 0px 16px 0px 0px; }
div.page ul.opt_compare li a { padding: 0px 0px 8px 20px; font-size: 0.9em; color: rgb(158, 158, 158); }
div.page ul.opt_compare li a.comp_print { background: url("../images/btn_comp_print.png") 0px 0px no-repeat; }
div.page ul.opt_compare li a.comp_flush { background: url("../images/btn_comp_flush.png") 1px 0px no-repeat; }
div.page ul.opt_compare li a.comp_seeall { background: url("../images/btn_comp_seeall.png") 1px 0px no-repeat; }
div.page ul.opt_compare li a.comp_pdf { background: url("../images/btn_comp_pdf.png") 2px 0px no-repeat; }
div.page ul.opt_compare li a.comp_send { background: url("../images/btn_comp_send.png") 0px 0px no-repeat; }
div.page div.infostech table td.comp_class { background: none transparent; border-top: 1px dotted rgb(236, 236, 236); }
div.page div.infostech table td.comp_class ul { width: 50px; }
div.page div.infostech table td.comp_class ul li a { display: block; text-indent: -10000px; width: 13px; height: 13px; }
div.page div.infostech table td.comp_class ul li a.comp_croi { background: url("../images/btn_comp_croi.png") 0px 0px no-repeat; }
div.page div.infostech table td.comp_class ul li a.comp_decr { background: url("../images/btn_comp_decr.png") 0px 1px no-repeat; }
div.page div.infostech table td.comp_class ul li a.comp_mask { width: 18px; background: url("../images/btn_comp_mask.png") 0px 0px no-repeat; }
div.page div.infostech .compare { width: 530px; overflow-x: auto; overflow-y: hidden; }

/* Fiche produit - vidéo et marque */
ul#services_guaranteed li a span.icon { background: url("../images/sprite_pay_video.png") left top no-repeat scroll rgba(0, 0, 0, 0); float: left; height: 36px; margin-left: 10px; margin-right: 6px; width: 44px; }
ul#services_guaranteed li a#button-video-show span.icon { background-position: -59px 4px; width: 40px; background-size: auto 29px; }
ul#services_guaranteed #gallery > img {width: 75%;height: auto;display: block;margin: auto;}
ul#services_guaranteed #gallery .gallery_nav {width: 65%;display: block;margin: auto;margin-top: 15px;}
.catalog #descr ul#services_guaranteed { height: auto; margin: 6px 0 0!important; padding: 0!important; border-radius: 3px; display: block; width: 235px; }


/* Enregistrement client */
#loginblock span.not_valid { display: inline-block; float: left; line-height: normal; margin-left: 168px; height: auto; margin-top: -6px; margin-bottom: 10px; }
#EmailResponse { background: none 0px 0px repeat scroll rgb(255, 255, 255); border-radius: 0px 0px 5px 5px; float: left; padding: 10px; width: 96.3%; }
#EmailResponse p.blocTextNormal { font-weight: bold; }
#EmailResponse p { margin-bottom: 10px; }


/* extranet */
#content.account{margin:0 10px;width: 98%;}

.accountTable .sortable a:hover { color: #000;}
.account table.dataTable tr { vertical-align: bottom;}
.account .dataTable {float:left;}
table.accountTable.tio{margin-left:0px;width:100%;}

nav#left { width:100%; border:1px solid #e4e4e4; background:#fff; float:left; margin:0 0 10px 0; }
nav#left h2 { font-size:15px; color:#565656; padding:5px 4px; }
nav#left ul li { float:left; list-style:none; width:100%; }
nav#left ul li span { padding:5px 12px; display:block; font-size:12px; font-weight: bold; color:#565656; border-top:1px dotted #e4e4e4; }
nav#left ul li a { text-decoration:none; }
nav#left ul li ul { margin-left: 10px; }
nav#left ul li ul li { float:left; list-style:none; width:100%; }
nav#left ul li ul li a { padding:5px 12px; display:block; font-size:12px; font-weight: normal; color:#565656; text-decoration:none; background:url(../images/arrow-orange.png) scroll no-repeat 4px 4px; border-top:1px dotted #e4e4e4; }
nav#left ul li ul li a:hover { color:#f39900;  }

#categorybloc.account { width:770px!important; float:left!important; margin:0 0 0 10px!important; }
#categorybloc.account .intro { width:100%; border:1px solid #e4e4e4; background:#fff; float:left; }
#categorybloc.account .intro h1 { font-size:15px; color:#f69814; margin:5px 5px 0 5px; width:590px; border-bottom:1px dotted #e4e4e4; }
#categorybloc.account .intro h2 { font-size:15px; color:#565656; margin:5px 5px 0 5px; width:590px; border-bottom:1px dotted #e4e4e4; }
#categorybloc.account .intro h1.product_list { font-size:15px; color:#565656; margin:5px 5px 0 5px; width:590px; border-bottom:1px dotted #e4e4e4; }
#categorybloc.account .intro h2.product_list { font-size:14px; color:#565656; margin:5px; width:590px; border: none; }
#categorybloc.account .intro p#fil_ariane { font-size:11px; color:#565656; padding:1px 5px; line-height:18px; }
#categorybloc.account .intro p#fil_ariane a { color:#565656; text-decoration:none; }
#categorybloc.account .intro p#fil_ariane a#home { background:url(../images/icons-house.jpg) no-repeat top center; display:inline-block; width:15px; height:9px; }
#categorybloc.account .intro p#fil_ariane a#home span { display:none; }
#categorybloc.account .intro p#fil_ariane a:hover { color:#55c4c2;  }
#categorybloc.account .intro #text { margin:8px 0 0 0; }
#categorybloc.account .intro #text p.small { padding:2px 5px; font-size:smaller!important; color:#565656; text-align:justify; line-height:1.5em; margin:.5em 0 0 0;	}

.tooltip {display:none;}
.tooltiphover{display:block; position:absolute;top:20px; left:-18px;border:2px solid #ff8000; bakground-color:#ffffff; color:#666666 !important; z-index:99;	width:814px;}
.tooltiphover .arrow {top:13px;height:13px;left:-9px;position:absolute;}
.tooltiphover div {background-color:#FFFFFF;}
.inProgress .tooltiphover{padding:10px}

.tio input[id^="service_"], .tio input[id^="serial_"] {padding: 5px 5px;}
.tio input[id^="datepicker"] {padding: 5px;width: 65px!important;}
.tio.accountTable td{padding:4px;}
.tio input#documents {border: none;width: 117px;}
.tio .pdf_link{display:inline-block;}
input.pdf_ups {width: 20px;height: 20px;background: rgba(0, 0, 0, 0); box-shadow: none;text-indent: -99999px;padding: 0px; background-image: url(../images/button_save.png);border-radius: 0px; background-position: 0px; margin-left: 5px;}

.sortable a, .sortable a span{width:14px;height:4px;}
.sortable a span{display: inline-block;vertical-align: middle;}
.sortable a span.sort_asc{	background:url(../images/small_asc.gif);}
.sortable a span.sort_desc{	background:url(../images/small_desc.gif);}

.toggle { padding: 0px 0 0 8px;}


/* Remise produit (fiche produit et panier) */
div.page .discountRate { background: url("../images/bg-discount.png") no-repeat; color: rgb(255, 255, 255); top: 0px; left: 0px; text-align: center; font-size: 11px; width: 39px !important; height: 39px !important; padding: 0px !important; position: absolute !important; }
div.page .discountRate > span { padding-top: 10px; display: block; }

/* Panier */
.account input.input_quantity{width:15px;}
.account input[id^="check_"] {width: auto;}

/* Fiche produit */
#descr h1 {font-style: normal;font-weight: bold;}
#descr h2 {background: none repeat scroll 0 0 rgba(0,0,0,0); color: #ababab;font-size: 1.1em;font-weight: normal;}
.catalog #descr small {color: #ABABAB;}
.catalog #visus ul.normes {margin: 0!important; padding: 0!important;}
.catalog #descr {float: left; margin-left: 20px; width: 45%;}
.catalog.detail .sidepanel>div {background-color: #FFFFFF!important;background-image: none!important; background-size: 100% 100%!important; margin-bottom: 20px; padding: 10px 5px 30px 20px;}
#contents .sidepanel {background-repeat: no-repeat,no-repeat; background-size: 96% 6px,8px 100%;  positon: relative;  width: 100%;}
#contents .sidepanel>div {background-color: #E6E6E6; background-position: center top; background-repeat: no-repeat;border-bottom-right-radius: 6px;}
#category_description_2 .category_image {clear: both;text-align: center;width: 100%;}
.zoomPad { position: relative;float: left;z-index: auto;cursor: crosshair; margin: 0 10px 0 0;}
.catalog #visus {float: left;width: 284px;margin-bottom: 10px;}
.zoom-container {position: relative;z-index: 52;}
.spacer {clear: both;}
div.page h1, #colG h1 {color: #f39903; font-size: 1.3em; font-style: italic;}
div#video-container {display: none;position: fixed;top: 0; left: 0; background-color: rgba(0,0,0);width: 100%; height: 100%;z-index: 999999999;}
#short_description_block {color: #505050;font-size: 11px; clear: both;}
#center #colG.colx1 { clear: both; position: relative;}
div.page h1, #colG h1 {color: #f39903;font-size: 1.3em;font-style: italic;}
.catalog>#colG div.rub, .catalog>#colG div.category_description {position: relative;}
#contents #colG p {line-height: 1.5em;margin-top: 15px;text-align: justify;font: 0.8em Arial,Helvetica,sans-serif;}
form#mainform {line-height: 21px;margin-bottom: 10px;}

/* Catégories */
.catalog>#colG div.rub, .catalog>#colG div.category_description {position: relative;}
#category_description_2 {width: 100%;}
.catalog div.rub, .catalog div.category_description, .trade div.trade_description {background-position: right bottom;background-repeat: no-repeat;background-size: auto 170px;display: block;margin: 0;height: auto;float: left;width: 75%;}
#contents #colG p {line-height: 1.5em; margin-top: 15px;text-align: justify;font: 0.8em Arial,Helvetica,sans-serif;}
.category_description p, .trade_description p {font-size: 12.8px!important;}
.category_description p, .trade_description p, .trade_description_plus p {/*background: url(../images/accolade2.png) no-repeat scroll left top/7px 100% transparent;*/padding-bottom: 10px;padding-left: 30px;padding-right: 40px;}
.subcategories {clear: both;}
.catalog div.rub, .catalog div.category_description, .trade div.trade_description {background-position: right bottom; background-repeat: no-repeat; background-size: auto 170px; display: block; margin: 0; height: auto; float: left; width: 75%;}
.category_image, .trade_image {float: right;width: 20%;}
.category_description p, .trade_description p {font-size: 12.8px!important;}
.panel_product{width: 300px;overflow: hidden;}
.panel_product .pButton input {margin-left: 5px;margin-right: 5px;}
select.select_product {
	height:auto;	
}
select.select_product {
	width:190px!important;	
}
/*#detail8 .orderOptions.quantite label, label.label_couleur, label.modele {
	line-height:22px;
	font-weight:bold;
	border-bottom:1px dotted #ccc
	*/
#action1 {margin-bottom: 20px;}
#action a {
    text-decoration: none;
    line-height: 25px;
    padding-left: 30px;
}
#action a#pdf {
        background: url(../../catalog/images/icons-product.jpg) no-repeat 0 -3px;
}
#action a#comparateur {
    background: url(../../catalog/images/icons-product.jpg) no-repeat 0 -48px;
}
#action a#help {
        background: url(../../catalog/images/icons-product.jpg) no-repeat 0 -70px;
}
.certification {
    margin-top: 20px;
    margin-bottom: 20px;
}
.certification img {
    margin-left: 10px;
}

/* Commentaires produits */
.star_on{float:left;width:24px;height:24px;background:url("../images/rating_on.gif") no-repeat;}
.star_off{float:left;width:24px;height:24px;background:url("../images/rating_off.gif") no-repeat;}
.star_autosubmit_checked{float:left;width:28px;height:20px;background:url("../../images/rating_on.gif") no-repeat -96px -1727px;margin-bottom:10px;}
.star_autosubmit_unchecked{float:left;width:28px;height:20px;background:url("../../images/rating_off.gif") no-repeat -124px -1727px;margin-bottom:10px;}

.product_img {
    left: 0 !important;
}
.input_commander_small { border:none; height:26px; width:31px; background:url(../../catalog/images/bg-btn-card-small.jpg) no-repeat 0 0; cursor:pointer; }
.input_commander_small:hover { border:none; height:26px; width:31px; background:url(../../catalog/images/bg-btn-card-small.jpg) no-repeat 0 -26px; cursor:pointer; }
.input_devis_small { border:none; height:26px; width:31px; background:url(../../catalog/images/bg-btn-card-small.jpg) no-repeat 0 -52px; cursor:pointer; margin-right: 4px; }
.input_devis_small:hover { border:none; height:26px; width:31px; background:url(../../catalog/images/bg-btn-card-small.jpg) no-repeat 0 -78px; cursor:pointer; }

.input_devis_medium { border:none; height:26px; width:66px; padding:0 0 0 18px; margin:8px 2px 4px 0; font-weight:bold; color:#fff; font-size:12px; background:url(../../catalog/images/bg-btn-add-estimate-m.png) no-repeat top left; cursor:pointer; }
.input_commander_medium { border:none; height:26px; width:106px; padding:0 0 0 20px; margin:8px 0 4px 0; font-weight:bold; color:#fff; font-size:12px; background:url(../../catalog/images/bg-btn-add-card-m.png) no-repeat top left; cursor:pointer; }
.input_devis_medium:hover, .input_commander_medium:hover { background-position:left bottom; }