{if:isLogin}
		<flexy:include src="head/header.tpl"></flexy:include>
		<style type="text/css">
		.ui-helper-hidden-accessible{clip:unset!important;}
		</style>
     <!--   <flexy:include src="menu/menu.tpl"></flexy:include>-->
        <script type="text/javascript" language="javascript" src="{baseURL}/js/ajax.lib.js"></script>
        
         <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <script src="http://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>
</script>
        <!--<link type="text/css" href="/js/jquery/datepicker/datepicker.css" rel="Stylesheet" />
<script type="text/javascript" src="/js/jquery/datepicker/jquery-ui-personalized-1.6rc4.packed.js"></script>-->
<script type="text/javascript" language="javascript">
<!--
	
	function SortResult( sby, ord ){
		
		document.adm_estim.action="product_term_list.php?search=1&sortby="+sby+"&sens="+ord;
		document.adm_estim.submit();
		
	}
	
	function goToPage( pageNumber ){
		
		document.forms.adm_estim.elements[ 'page' ].value = pageNumber;
		document.forms.adm_estim.submit();
		
	}
	
	function submit( ){
		
	
		document.forms.adm_estim.submit();
		
	}
	function SetDate(idproduct_term,availability){
			//	var availibility = $( "#availability_date_" + idproduct_term ).attr( "value" );	
				var data = "idproduct_term=" + idproduct_term + "&availability=" + availability;
				//	alert(data);
					$.ajax({

						url: "/catalog/product_term_buyer.php?update=availability",
						async: true,
						type: "GET",
						data: data,
						error : function( XMLHttpRequest, textStatus, errorThrown ){ 
						
							alert( "Impossible de sauvegarder les modifications" ); 
							
						},
					 	success: function( responseText ){
			
							
							window.location.reload();
							$.blockUI.defaults.css.fontFamily = 'arial, "lucida console", sans-serif';
							$.blockUI.defaults.css.fontSize = '12px';
				        	$.growlUI( '', 'Modifications enregistrées' );
			        					
						}

					});
		
				}
	/*function SetDate( element ){

		var idorders = element.id.substring( element.id.lastIndexOf( '_', element.id.length ) + 1, element.id.length );
		
		var availibility = $( "#availability_date_" + idorders ).attr( "value" );
	//	var dispatch = $( "#dispatch_date_" + idorders ).attr( "value" );
		
		var postData = "action=update&idos=" + idorders + "&av=" + availibility 
		$.ajax({

			url: "/sales_force/product_term_list.php",
			async: true,
			cache: false,
			type: "GET",
			data: postData,
			error : function( XMLHttpRequest, textStatus, errorThrown ){ alert( "Impossible modifier la date" ); },
		 	success: function( responseText ){

				if( responseText == 'wrong av date format' )
					alert( "Format de date echeance incorrect !" );
					else if( responseText == 'wrong sql' )
					alert( "Impossible de mettre à jour la date !" );
				
        		else if( responseText.length ){
        		
        			$.blockUI.defaults.css.fontFamily = 'arial, "lucida console", sans-serif';
					$.blockUI.defaults.css.fontSize = '12px';
			    	$.growlUI( '', 'Modifications enregistrées' );

        			$( "#cellstatus_" + idorders ).html( responseText );
        			$( "#cellstatus_" + idorders ).attr( "class", "" );
        			$( "#celldelete_" + idorders ).html( "" );
        			
        		}	
					
			}

		});
		
		
	}*/

	function confirmDeleteOrder( idorder ){

		
		var ret = confirm( '<?php echo Util::doNothing(Dictionnary::translate( "gest_com_confirm_delete_order_supplier" )) ?>' + idorder + '?' );
		
		if( ret == true )
			document.forms.adm_estim.elements[ 'OrderToDelete' ].value = idorder;
		
		return ret;
		
	}
	
	function selectRelance(){
		
		document.getElementById( "interval_select_relance" ).checked = true;
		
	}
	
	function selectMonth(){
		
		document.getElementById( "interval_select_month" ).checked = true;
		
	}
	
	function selectDelivery( dateField ){
		
		document.getElementById( "interval_select_delivery" ).checked = true;
		
	}
	
	function selectBetween( dateField ){
		
		document.getElementById( "interval_select_between" ).checked = true;
		
		return true;
		
	}
		function updateservice( idproduct_term, n_service ){
				
					var data = "idproduct_term=" + idproduct_term + "&n_service=" + n_service;
					
					$.ajax({

						url: "/catalog/product_term_buyer.php?update=n_service",
						async: true,
						type: "GET",
						data: data,
						error : function( XMLHttpRequest, textStatus, errorThrown ){ 
						
							alert( "Impossible de sauvegarder les modifications" ); 
							
						},
					 	success: function( responseText ){
			
							if( responseText != "1" ){
								
								alert( "Impossible de sauvegarder les modifications : " + responseText );
								return;
								
							}
							window.location.reload();
							$.blockUI.defaults.css.fontFamily = 'arial, "lucida console", sans-serif';
							$.blockUI.defaults.css.fontSize = '12px';
				        	$.growlUI( '', 'Modifications enregistrées' );
			        					
						}

					});
		
				}


function updateserial( idproduct_term, n_serial ){
				
					var data = "idproduct_term=" + idproduct_term + "&n_serial=" + n_serial;
					
					$.ajax({

						url: "/catalog/product_term_buyer.php?update=n_serial",
						async: true,
						type: "GET",
						data: data,
						error : function( XMLHttpRequest, textStatus, errorThrown ){ 
						
							alert( "Impossible de sauvegarder les modifications" ); 
							
						},
					 	success: function( responseText ){
			
							if( responseText != "1" ){
								
								alert( "Impossible de sauvegarder les modifications : " + responseText );
								return;
								
							}
							window.location.reload();
							$.blockUI.defaults.css.fontFamily = 'arial, "lucida console", sans-serif';
							$.blockUI.defaults.css.fontSize = '12px';
				        	$.growlUI( '', 'Modifications enregistrées' );
			        					
						}

					});
		
				}
				
				function updatedoc( idproduct_term,idorder, documents ){
				
					var data = "idproduct_term=" + idproduct_term + "&idorder=" + idorder + "&documents=" + documents;
					
					$.ajax({

						url: "/catalog/product_term_buyer.php?update=documents",
						async: true,
						type: "GET",
						data: data,
						error : function( XMLHttpRequest, textStatus, errorThrown ){ 
						
							alert( "Impossible de sauvegarder les modifications" ); 
							
						},
					 	success: function( responseText ){
			
							
							window.location.reload();
							$.blockUI.defaults.css.fontFamily = 'arial, "lucida console", sans-serif';
							$.blockUI.defaults.css.fontSize = '12px';
				        	$.growlUI( '', 'Modifications enregistrées' );
			        					
						}

					});
		
				}
				

				function deliveryNoteDialog( idorder_supplier ){

					$( "#DeliveryNoteDialog" ).html( '<p style="text-align:center;"><img src="<?php echo $GLOBAL_START_URL; ?>/images/back_office/content/small_black_spinner.gif" alt="" /> chargement en cours...</p>' );

					$("#DeliveryNoteDialog").dialog({
			        
						modal: true,	
						title: "Commande Fournisseur N° " + idorder_supplier,
						position: "top",
						width: 800,
						zIndex:998,
						close: function(event, ui) { 
						
							$("#DeliveryNoteDialog").dialog( 'destroy' );
							
						}
					
					});

					$.ajax({
					 	
						url: "/sales_force/product_term_list.php?dialog&idorder_supplier=" + idorder_supplier,
						async: true,
						type: "GET",
						data: "",
						error : function( XMLHttpRequest, textStatus, errorThrown ){ 
						
							alert( "Impossible d'afficher la boîte de dialogue" ); 
							
						},
					 	success: function( responseText ){
					
							$( "#DeliveryNoteDialog" ).html( responseText );
										
						}
					
					});
					
				}
				//Handler of tooltip By behzad
	        $(document).ready(function() {
					$(".fournisseurHelp").each( function(){
					$(this).qtip({
						adjust: {
							mouse: true,
							screen: true
						},
						content: { url: '/sales_force/product_term_list.php?showTooltip&idorder_supplier_parent=' + $(this).attr( 'rel' ) },
						position: {
							corner: {
								target: "rightMiddle",
								tooltip: "leftMiddle"
							}
						},
						style: {
							background: "#FFFFFF",
							border: {
								color: "#EB6A0A",
								radius: 5
							},
							fontFamily: "Arial,Helvetica,sans-serif",
							fontSize: "13px",
							tip: true,
							width: 600
						}
					});
					
				});
			});	
			function realiserservice(idproduct_term,service_extern){
					
				var data = "idproduct_term=" + idproduct_term + "&service_extern=" + service_extern;
					
					$.ajax({

						url: "/catalog/product_term_buyer.php?update=service_extern",
						async: true,
						type: "GET",
						data: data,
						error : function( XMLHttpRequest, textStatus, errorThrown ){ 
						
							alert( "Impossible de sauvegarder les modifications" ); 
							
						},
					 	success: function( responseText ){
			
							if( responseText != "1" ){
								
								alert( "Impossible de sauvegarder les modifications : " + responseText );
								return;
								
							}
							window.location.reload();
							$.blockUI.defaults.css.fontFamily = 'arial, "lucida console", sans-serif';
							$.blockUI.defaults.css.fontSize = '12px';
				        	$.growlUI( '', 'Modifications enregistrées' );
			        					
						}

					});
		
				}
		
		function loaddate(){
		var divToComplete = document.getElementById('date_echeance') ;
		

		var location = '/catalog/product_term_buyer.php?update=date';
		
		
		var xhr_object = null;
		if(window.XMLHttpRequest) // Firefox
		   xhr_object = new XMLHttpRequest();
		else if(window.ActiveXObject) // Internet Explorer
		   xhr_object = new ActiveXObject("Microsoft.XMLHTTP");
		else { // XMLHttpRequest non supporté par le navigateur
		   alert("Votre navigateur ne supporte pas les objets XMLHTTPRequest...");
		   return;
		}

		xhr_object.onreadystatechange = function()
		{
		if(xhr_object.readyState == 4)
		{
		     // ON CONTROLE LE STATUS (ERREUR 404, ETC)
			if(xhr_object.status == 200)
			
			
				divToComplete.innerHTML = xhr_object.responseText ;
			else
				return ;
			}
		}; 
		
		xhr_object.open("GET", location, true);
		xhr_object.send(null);

}

	
  /*$(function() {
  //var i = document.getElementById('idproduct_term') ;
  var dateParams = $.extend(
	{},
	{	
		dateFormat: 'dd/mm/yy',
		showAnim: 'fadeIn',
		changeMonth: true,
		changeYear: true
	}
  );
    
	$( "#datepicker0" ).datepicker(dateParams);
       $( "#datepicker1" ).datepicker(dateParams);
	   $( "#datepicker2" ).datepicker(dateParams);
	   $( "#datepicker3" ).datepicker(dateParams);
	    $( "#datepicker4" ).datepicker(dateParams);
		 $( "#datepicker5" ).datepicker(dateParams); 
		 $( "#datepicker6" ).datepicker(dateParams);
		  $( "#datepicker7" ).datepicker(dateParams);
		   $( "#datepicker8" ).datepicker(dateParams);
		    $( "#datepicker9" ).datepicker(dateParams);
			 $( "#datepicker10" ).datepicker(dateParams);
			 
			  $( "#datepicker11" ).datepicker(dateParams);
			   $( "#datepicker12" ).datepicker(dateParams);
			    $( "#datepicker13" ).datepicker(dateParams);
				 $( "#datepicker14" ).datepicker(dateParams);
				  $( "#datepicker15" ).datepicker(dateParams);
				   $( "#datepicker16" ).datepicker(dateParams);
				    $( "#datepicker17" ).datepicker(dateParams);
					 $( "#datepicker18" ).datepicker(dateParams);
					  $( "#datepicker19" ).datepicker(dateParams);
					   $( "#datepicker20" ).datepicker(dateParams);
		
    });*/
		
// -->
</script>
{datepickerjs:h}
	<!--</head>
	<body>-->

	<div id="content">
	{if:iduser}<span style="color:red;font-weight: bold;">/account/product_term_buyer.tpl</span>{end:}
		
			<!-- Haut de page -->
			
			

			<!-- Menu Compte -->
	<div id="content" class="account">
			<div id="leftbloc">
					<flexy:include src="menu/menu_compte.tpl"></flexy:include>
			</div>
			
		
		<div id="categorybloc" class="account">
		<div class="intro">
				<h2>Vos échéanciers</h2>
					
		{if:NoResults}
			<p class="blocTextNormal">Aucun échéancier trouvé</p>
		{else:}
        
		 {if:erreurfichier}
				<p class="blocTextNormal">   {erreurfichier:h}</p>
			 {end:}
			 {if:fichieruploader}
				<p class="blocTextNormal">   {fichieruploader:h}</p>
			 {end:}
			<!--<table class="accountTable" cellspacing="0" cellpadding="0" border="0">			
			<tr>
				<th >N° cde</th>
				<th >Référence</th>
				<th>Service externe</th>
				<th >Designation</th>
                <th class="sortable">{conf_link:h}</th>
                
				
			</tr>
			{foreach:array_order,line}
				<tr>
					<td align="center">{line[idorder]}</td>
					<td align="center">{line[reference]:h}</td>
					<td align="center">
                     <a href="#" onClick="realiserservice({line[idproduct_term]},{line[service_extern]} )">{if:line[service_extern]}<img src="{baseURL}/images/back_office/content/ok.png" alt="oui" width="20px" height="20px" />{else:}<img src="{baseURL}/images/back_office/content/non.png" alt="Non" width="20px" height="20px" />{end:}</a>
                   </td>
					<td align="center">{line[summary]:h}</td>
                    <td align="center">{line[conf_date]}</td>
                   
              
				</tr>
			{end:}					
			</table>		
		
        
        
        <table class="accountTable" cellspacing="0" cellpadding="0" border="0">			
			<tr>
				<th >Gestion</th>
                <th >N° de série</th>
                <th >Certificat</th>
                <th class="sortable">{term_link:h}</th>
                <th >Statut</th>
				
			</tr>
    			{foreach:array_order,line}
				<tr>
					 <td align="center">
                    
						<input id="service_{line[idproduct_term]}" type="text" class="textInput" style="width:70px;" value="{line[service_name]}" onKeyUp="" />
						<img src="{baseURL}/images/back_office/content/button_save.png" style="cursor:pointer;" onClick="updateservice({line[idproduct_term]}, $('#service_{line[idproduct_term]}').val() );" />
					
                  </td>
                   
                    <td>
                    <input id="serial_{line[idproduct_term]}" type="text" class="textInput" style="width:70px;" value="{line[serial_number]}" onKeyUp="" />
														<img src="{baseURL}/images/back_office/content/button_save.png" style="cursor:pointer;" onClick="updateserial({line[idproduct_term]}, $('#serial_{line[idproduct_term]}').val() );" />
                  </td>
                   
					<td>
                    <table>
                    <tr align="center">
                     <form action="{baseURL}/catalog/product_term_buyer.php?all" method="post"  name="adm_estim" enctype="multipart/form-data" ><input type="hidden" name="uploader" id="uploader" value="1" />
                                                  <input type="hidden" name="idorder" id="idorder" value="{line[idorder]}" />
                                                  <input type="hidden" name="idproduct_term" id="idproduct_term" value="{line[idproduct_term]}" />
                                                 <input type="file" class="" name="documents" id="documents" value="" />
                                                <img src="{baseURL}/images/back_office/content/button_save.png" style="cursor:pointer; padding-left:57px;" onClick="submit();" />  </form>
                    </tr>
                  <tr align="center">
				{if:line[doc_certificat]}
						  <a href="/data/certificat/{line[idproduct_term]}/{line[doc_certificat]}" target="_blank" class="pdf_link"><img src="{baseURL}/images/back_office/content/pdf_icon.gif" />{line[doc_certificat]}</a>
                         
                          {end:}
					</tr></table>	
					</td>
					 <td align="center">
                       <input id="datepicker{line[i]}" name="datepicker_{line[idproduct_term]}" type="text" class="textInput calendarInput" style="width:70px;" value="{line[term_date]}" onKeyUp="" />
														<img src="{baseURL}/images/back_office/content/button_save.png" style="cursor:pointer;" onClick="SetDate({line[idproduct_term]}, $('#datepicker{line[i]}').val() );" />
 

                    </td>
					<td align="center">
                    {if:line[gris]}
					<img src="{baseURL}/images/back_office/content/bouton_gris.png" alt="gris" width="20px" height="20px" title="Service externe" />
                    {end:}
                     {if:line[jaune]}
					<img src="{baseURL}/images/back_office/content/bouton_jaune.png" alt="jaune" width="20px" height="20px" title="Moins d'un mois" />
                    {end:}
                     {if:line[vert]}
					<img src="{baseURL}/images/back_office/content/bouton_vert.png" alt="vert" width="20px" height="20px" title="A plus de 1 mois"/>
                    {end:}
                     {if:line[rouge]}
					<img src="{baseURL}/images/back_office/content/bouton_rouge.png" alt="rouge" width="20px" height="20px" title="Echéance passée"/>
                    {end:}
                    </td>
				</tr>
			{end:}	
    
    
    
    
    
            </table>
	-->
			<!-- 2 tableaux en 1 -->
<br><br>

<table>
    <tr>
          <td width="30" align="center"><img src="/images/back_office/content/bouton_vert.png"> </td><td> Echéance > 30 jours</td>
          <td width="30" align="center"><img src="/images/back_office/content/bouton_jaune.png"></td><td> Echéance < 30 jour</td>
          <td width="30" align="center"><img src="/images/back_office/content/bouton_rouge.png"> </td><td>Echéance dépassée</td>
          <td width="30" align="center"><img src="/images/back_office/content/bouton_gris.png"> </td><td>Prestataire externe</td>
    </tr>

</table>

<br><br>
			<table class="accountTable tio" cellspacing="0" cellpadding="0" border="0">
				<tr>
					<th >N° cde</th>
					<!--<th >Référence</th>-->
					<th>Service<br />externe</th>
					<!--<th >Designation</th>-->
					<th class="sortable" style="width:90px">{conf_link:h}</th>
					<th >Prestataire</th>
					<th class="sortable">{serial_link:h}</th>
					<th style="width:135px;">Certificat</th>
					<th class="sortable">{term_link:h}</th>
					<th >Statut</th>
					
				</tr>
				{foreach:array_order,line}
				
                                <tr>
                                     <td colspan="6"><span style="color:#F39900;"> {line[summary]:h} ( réf. : {line[reference]:h} )</span>
                                     </td>
                                </tr>
				<tr>
					<td align="center">{line[idorder]}</td>
					<!--<td align="center">{line[reference]:h}</td>-->
					<td align="center">
						<a href="#" onClick="realiserservice({line[idproduct_term]},{line[service_extern]} )">{if:line[service_extern]}<img src="{baseURL}/images/back_office/content/ok.png" alt="oui" width="20px" height="20px" />{else:}<img src="{baseURL}/images/back_office/content/non.png" alt="Non" width="20px" height="20px" />{end:}</a>
					</td>
					<!--<td align="center">{line[summary]:h}</td>-->
					<td align="center">{line[conf_date]}</td>
					
					
					
					<td align="center">
                    
						<input id="service_{line[idproduct_term]}" type="text" class="textInput" style="width:70px;" value="{line[service_name]}" onKeyUp="" />
						<img src="{baseURL}/images/back_office/content/button_save.png" style="cursor:pointer;" onClick="updateservice({line[idproduct_term]}, $('#service_{line[idproduct_term]}').val() );" />
					
					</td>
                   
                    <td>
						<input id="serial_{line[idproduct_term]}" type="text" class="textInput" style="width:70px;" value="{line[serial_number]}" onKeyUp="" />
														<img src="{baseURL}/images/back_office/content/button_save.png" style="cursor:pointer;" onClick="updateserial({line[idproduct_term]}, $('#serial_{line[idproduct_term]}').val() );" />
					</td>
                   
					<td>
						
						<form action="{baseURL}/catalog/product_term_buyer.php?all" method="post"  name="adm_estim" enctype="multipart/form-data" ><input type="hidden" name="uploader" id="uploader" value="1" />
											  <input type="hidden" name="idorder" id="idorder" value="{line[idorder]}" />
											  <input type="hidden" name="idproduct_term" id="idproduct_term" value="{line[idproduct_term]}" />
											 <input type="file" class="" name="documents" id="documents" value="" />
											<!--<img src="{baseURL}/images/back_office/content/button_save.png" style="cursor:pointer; padding-left:5px;" onClick="submit();" />--><input type="submit" class="pdf_ups">
						</form>
						{if:line[doc_certificat]}
						<div>
							<a href="/data/certificat/{line[idproduct_term]}/{line[doc_certificat]}" target="_blank" class="pdf_link"><img src="{baseURL}/images/back_office/content/pdf_icon.gif"/>{line[doc_certificat]}</a>
						</div>
						{end:}
					</td>
					<td align="center">
                       <input id="datepicker{line[i]}" name="datepicker_{line[idproduct_term]}" type="text" class="textInput" style="width:70px;" value="{line[term_date]}" onKeyUp="" />
														<img src="{baseURL}/images/back_office/content/button_save.png" style="cursor:pointer;" onClick="SetDate({line[idproduct_term]}, $('#datepicker{line[i]}').val() );" />
                    </td>
					<td align="center">
                    {if:line[gris]}
						<img src="{baseURL}/images/back_office/content/bouton_gris.png" alt="gris" width="20px" height="20px" title="Service externe" />
                    {end:}
					{if:line[jaune]}
						<img src="{baseURL}/images/back_office/content/bouton_jaune.png" alt="jaune" width="20px" height="20px" title="Moins d'un mois" />
                    {end:}
					{if:line[vert]}
						<img src="{baseURL}/images/back_office/content/bouton_vert.png" alt="vert" width="20px" height="20px" title="Aujourd'hui"/>
                    {end:}
					{if:line[rouge]}
						<img src="{baseURL}/images/back_office/content/bouton_rouge.png" alt="rouge" width="20px" height="20px" title="Echéance passée"/>
                    {end:}
                    </td>
				</tr>
			{end:}
			</table>
		
		{end:}
    
    
    
    </div>
		<p><a href="account.php" class="btn_continue">Mon compte</a></p>
			</div>
            
            
    <style type="text/css">
	
		
		div#contents div#main {
			float: left;
		}
	
	</style>
            
		</div>
    </div>
    </div> 
	</div>
	<flexy:include src="foot.tpl"></flexy:include>
{else:}
	<flexy:include src="account.tpl"></flexy:include>
{end:}					
			