/* Basic code - don't modify */
 
#bookmarkMenu { display: block; margin: 0; padding: 0; position: relative; z-index:1999;}
#bookmarkMenu li { display: block; list-style: none; margin: 0; padding: 0; float: right; position: relative; }
#bookmarkMenu a { display: block; }
#bookmarkMenu ul { display: none; position: absolute; left: 0; margin: 0; padding: 0; }
* html #bookmarkMenu ul { line-height: 0; } /* IE6 "fix" */
#bookmarkMenu ul a { zoom: 1; } /* IE6/7 fix */
#bookmarkMenu ul li { float: none; }
#bookmarkMenu ul ul { top: 0; }
    
/* Essentials - configure this */

#bookmarkMenu ul { width: 130px; }
#bookmarkMenu ul ul { left: -131px; }

/* Everything else is theming */
 
#bookmarkMenu { height: 19px; }
#bookmarkMenu *:hover { background-color: none; }
#bookmarkMenu a { border-right: 1px solid white; color: white; font-size: 11px; padding: 6px; line-height: 1; }
#bookmarkMenu li.hover a {  }
#bookmarkMenu ul { top: 19px; left: -84px; }
#bookmarkMenu ul li a { background-color: #777777;}
#bookmarkMenu ul a.hover { background-color: #999999; }
#bookmarkMenu ul a { border-bottom: 1px solid white; border-right: none; opacity: 0.9; filter: alpha(opacity=90); }
/* #bookmarkMenu ul a { border-bottom: none; } - I also needed this for IE6/7 */