body {
    color: black;
    background-color: white;
    text-align: center;
    font-size: 12px;
}

body,
td,
p,
option,
input,
select,
form,
a,
div {  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em; /* Ne pas toucher sinon menu tout moche ! */
    color: #444444;
    margin: 0;
}

a {
    text-decoration: none;
 	font-size: 11px;  
 	color:#ff7000; 
}
.Liens {
	font-weight: bold;
	font-size: 11px;
}

a.lien_g {
	font-weight:bold;
}

a:link,
a:visited {
	color: #000000;
}
a:hover {
	color: #CC3333;
    text-decoration: underline;
}

.overlib,
.overlib:link,
.overlib:visited {
	font-size: 11px;
	font-weight: normal;
	color: #CC3333;
}
a.link_product:link { text-decoration: none; color: #FFFFFF; font-weight: bold; font-size: 13px;}
a.link_product:visited { text-decoration: none; color: #FFFFFF; font-weight: bold; font-size: 13px;}
a.link_product:hover { text-decoration: none; color: #FFFFFF; font-weight: bold; font-size: 13px;}

/* Positionnement global du contenu du site */

/* Titre du catalogue dans l'en-tete de la page */
h1#database {
    position: absolute;
    top: 60px;
    left: 400px;
	color: white;
    font-size: 1.1em;
}
h1#database span {
	color: yellow;
}

/* Boite de recherche */
#search {
    position: absolute;
    width: 200px;
    top: 160px;
    left: 12px;
}
#search ul {
	margin-left: -30px;
}
#search li {
	list-style-type: none;
	padding: 2px;
}
#search input {
	padding: 1px 3px;
}
/* Boite de resultat de la recherche quand a placer ailleurs que dans #search */
#searchResult {
    width: 400px;
    margin: 5px 80px;
}
/* Chemin indiquant la hierarchie des categories */
#navigation {
    position: absolute;
    width: 740px;
    height: 30px;
    top: 140px;
    left: 230px;
    z-index: 3;
	color: #660066;
    font-size: 0.8em;
	font-weight: bold;
    text-align: left;
}
/* Contenu principal au centre de la page */
#content {
    /*background-color: cyan;*/
    position: absolute;
    width: 550px;
    top: 180px;
    left: 300px;
}
#content h1 {
	font-size: 1em;
}
#content p {
    text-align: left;
	font-size: 0.9em;
}
#content li {
    text-align: left;
	font-size: 0.9em;
}
/* Liste de champs a selectionner */
#select {
	margin: 30px 10px 0px 10px;
}
#select input {
	color: white;
	background-color: black;
    font-size: 0.8em;
	font-weight: bold;
}
/* Confirmation de suppression */
#confirm {
	text-align: center;
    width: 500px;
	margin: 20px;
}
#confirm h3 {
    font-size: 0.8em;
	color: deeppink;
}
#confirm input {
	color: white;
	background-color: black;
    font-size: 0.8em;
	font-weight: bold;
}
/* Liste de references a droite du #content */
#list {
	text-align: center;
    position: absolute;
    width: 150px;
    top: 50px;
    left: 550px;
}
#list ul {
	margin-left: -18px;
}
#list li {
	/*list-style-type: square;*/
	list-style-image: url(images/button_list.jpg);
	padding: 2px;
}

/* Pied de page contenant le copyright */
#foot {
    position: absolute;
    width: 185px;
    top: 146px;
    left: 0px;
    font-size: 0.6em;
    color: #777;
}

.arbo_link {  
	 text-decoration: none; 
	 font-size : 12px; 
	 font-weight:bold;
	 color: #660066;
}  
   
.arbo_racine {
    font-size : 11px ;
	color : #CC3333;
	font-weight:bold;
}
		
.arbo_titre {
    font-size : 11px ;
	color : #000000;
	  }		

.arbo_text {
    font-size : 11px ;
	color : #000000;
	font-weight:bold;
	  }	
	  
.arbo_qty {
    font-size : 11px ;
	color : #444444;
	  }			  	
   
.text {
    font-size: 0.9em;
	color: black;
}
		
.text_b {
    font-size : 11px ;
	color : #FFFFFF;
	font-weight:bold;	
}	
			
.text_g {
    font-size : 11px ;
	color : #000000;
	font-weight:bold;
}
		
.titre {
    font-size : 14px ;
	color : #666666;
    font-weight:bold;
    margin: 10px;
}

h4 {
	text-align: left;
    font-size : 0.8em;
	color : #660066;
	margin: 4px;
	margin-top: 10px;
}	
		
.table {
	width: 540px;
	background-color: #999;
    margin: 5px;
}
		
#fieldsList {
	width: 210px;
	background-color: #999;
    margin: 5px 170px;
}

.cel_titre {
    font-size : 11px ;
	background-color : #eee;
	color : #000;
	font-weight:bold;
	vertical-align: middle;
	text-align: left;
	padding: 3px 5px 3px 5px;
		
}
	
.cel_result {
    font-size : 11px ;
	color : #000000 ;
	background-color : #FFFFFF;
	vertical-align: top;
	padding: 3px 5px 3px 5px;
    text-align: left;
}	

.table_b {
    background-color : #c482a2;
    width: 100%;
}	
	
.table_b th {
    font-size: 11px ;
	background-color: #c482a2;
	color: white;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
	padding: 3px;
		
}
	
.cel_titre_b {
    font-size: 11px ;
	background-color: #c482a2;
	color: white;
	font-weight: bold;
	vertical-align: middle;
	text-align: left;
	padding: 3px;
		
}
	
.cel_result_b {
    font-size : 11px ;
	color : #660066 ;
	background-color : #c482a2;
	vertical-align: top;
	padding: 3px;
}	
				
.cel_result_b1 {
    font-size : 11px ;
	color : #660066 ;
	background-color : #ebe0eb;
	vertical-align: top;
	padding: 3px;
}			

.cel_intitule_fam {
    font-size : 11px ;
	color : #660066 ;
	background-color : #ebe0eb;
	vertical-align: top;
	padding: 3px 0px 3px 5px;
}			

.table_d {
    background-color : #ebe0eb;
		}	
.cel_titre_d {
    font-size : 11px ;
	background-color : #ebe0eb ;
	color : #660066;
	font-weight:bold;
	vertical-align: middle;
	text-align: left;
	padding: 3px 0px 3px 5px;
}
#list td.cel_titre_d {
	text-align: center;
	padding: 3px;
		}	
		
.cel_result_2 {
    font-size : 11px ;
	color : #000000 ;
	background-color : #FFFFFF;
	vertical-align : middle;
	text-align : center;
}	
		
.cel_result_1 {
    font-size : 11px ;
	color : #000000 ;
	background-color : #FFFFDD;
	vertical-align: top;
	padding: 3px 0px 3px 5px;
}	
		
.mes_error {
    font-size : 11px ;
	color : #CC3333 ;
	font-weight:bold;
}	
		
.resultat_img {
   	background-color : #FFFFFF;
	vertical-align: middle;
}	
			
.asterix {
    font-size : 14px ;
	color : #CC3333 ;
	font-weight:bold;
}