@charset "UTF-8";

/**
 * Début Contenu principal
 */
 
 /*
 Couleurs de base
 Orange : #F3680B - 243/104/11
 Fond gris : #eceae5 - 236/234/229
 Fond noir : #23282d - 35/40/45
 Violet : #9d0b5d - 157/11/93
 */
 
select {
	border:1px solid #AAAAAA;
	color:#44474E;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
}
textarea {
	border:1px solid #AAAAAA;
	color:#44474E;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
}

img{
	border-style:none;
	vertical-align:middle;
}

.file{
	border:1px solid #AAAAAA;
	color:#44474E;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
}

a {
	color:#44474E;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

.showdevinfo{
	color:red !important;
	font-size:14px !important;
	margin-bottom:5px !important;
	margin-top:5px !important;
}


.view_link{
	color:#44474E;
	font-size:30px;
}

.com_ext{
	color:#44474E !important;
	font-size:80px ! important;
}

.specialselect{
	font-size:10px;
}

div.mainContent img {
	border:none;
}

div.mainContent .smallSizedText {
	font-size:9px;
}

div.mainContent .blackText {
	color:#44474E;
}

div.mainContent .blackText a {
	color:#44474E;
}

div.mainContent .blueText {
	color:#1E9CD1;
}

div.mainContent .blueText a {
	color:#1E9CD1;
}

div.mainContent .orangeText {
	color:#7A8EA3;
	font-weight:bold;
}

div.mainContent .orangeText a {
	color:#EB6a0a;
}

div.mainContent .lightGrayText {
	color:#888888;
}

div.mainContent .centered {
	text-align:center;
}

div#tools 		input.textInput,
div.mainContent input.textInput,
div.mainContent .textAreaDiv {
	border:1px solid #AAAAAA;
	color:#44474E;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
}

div.mainContent .textAreaDiv {
	overflow:auto;
	border:0;
}

div.mainContent .VCenteredWithText  {
	vertical-align:bottom;
	*vertical-align:middle; /* hack IE7 */
}

div.mainContent .valignCenter {
	vertical-align:middle;
}

div.mainContent .clear {
	clear:both;
}

a.normalLink:link,
a.normalLink:visited {
	text-decoration:none;
	color:#44474E;
}

a.normalLink:hover,
a.normalLink:hover:visited {
	text-decoration:underline;
	color:#44474E;
}

div.mainContent div.content {
	padding-left:13px;
	padding-right:13px;
}

input.blueButton  {
	border:none;
	background-color:#F3680B;
	color:#FFFFFF;
	font-size:11px;
	font-weight:bold;
	padding-right:13px;
	padding-left:13px;
	*padding:0;
	padding-bottom:2px;
	*padding-bottom:0;
	*padding-top:2px;
	text-align:center;
	cursor:pointer;
}

input.orangeButton, label.orangeButton  {
	border-style:none;
	background-color:#EB6A0A;
	color:#FFFFFF;
	font-size:11px;
	font-weight:bold;
	padding-right:13px;
	padding-left:13px;
	*padding:0;
	padding-bottom:2px;
	*padding-bottom:0;
	*padding-top:2px;
	text-align:center;
	cursor:pointer;
}

.grasBack{
	font-weight:bold;
	font-size:11px;
}

div.mainContent div.content div.headTitle {
	height:22px;
	border-bottom:2px solid #9d0b5d;
}

div.mainContent div.content div.headTitle p,
div.mainContent div.content div.headTitle div.date {
	margin-top:2px;
	margin-bottom:4px;
}

div.mainContent div.content div.headTitle p.title {
	font-size:14px;
	font-weight:bold;
	float:left;
}

div.mainContent div.content div.headTitle div.titleRight {
	float:left;
	margin-left:10px;
	*margin-top:-3px;
}

div.mainContent div.content div.subHeadTitle p.subHeadTitleElementLeft {
	float:left;
	margin-top:10px;
}

div.mainContent div.content div.subHeadTitle div.subHeadTitleElementRight {
	float:right;
	margin-top:7px;
	*margin-top:4px;
}

div.mainContent div.content div.subTitle {
	height:22px;
	margin-top:10px;
}

div.mainContent div.content div.subTitle p.title {
	font-size:13px;
	font-weight:bold;
	float:left;
}

div.mainContent div.content div.subContent {
	margin-top:5px;
}

div.mainContent div.content div.subContent div.subTitleContainer {
	border-bottom:1px solid #989898;
	padding-bottom:3px;
	height:15px;
	clear:both;
}

div.mainContent div.content div.subContent div.subTitleContainer p.subTitle,
div.mainContent div.content div.subContent div.subTitleContainer p.subTitleWarning {
	float:left;
	margin:0px;
}

div.mainContent div.content div.subContent div.subTitleContainer p.subTitle {
	margin:0px;
	font-size:12px;
	font-weight:bold;
	float:left;
	text-transform:uppercase;
}

div.mainContent div.content div.rightContainer {
	float:right;
}

div.mainContent div.content div.leftContainer {
	float:left;
}

div.mainContent div.content div.subContent div.subTitleContainer p.subTitleWarning {
	color:#EB6a0a;
	margin-left:10px;
}

/* tableau type */
div.mainContent div.content div.subContent div.tableContainer {
	margin-top:10px;
	margin-bottom:15px;
}

table.dataTable {
	padding: 0px;
	border-spacing:0px;
	border-collapse:collapse;
	width:100%;
}

table.resultTable tr th.totalAmount {
	border:1px solid #CBCBCB;
	font-weight:bold;
	text-align:right;
	white-space:nowrap;
}

table.resultTable tr:hover td {
	background-color:#F1F1F1;
	color:#000000;
}

table.resultTable tr:hover td a {
	color:#000000;
}

table.dataTable td,
table.dataTable th {
	border:1px solid #CBCBCB;
	padding:3px;
	text-align:left;
}

table.dataTable th {
	color:#000000;
}

table.results th.header { 
    background-image: url(../../images/small_sort.gif);
    cursor: pointer;
    background-repeat: no-repeat; 
    background-position: center left; 
} 

table.results th.headerSortUp { 
    background-image: url(../../images/small_asc.gif); 
    background-color: #CACACA; 
}

table.results th.headerSortDown { 
    background-image: url(../../images/small_desc.gif); 
    background-color: #CACACA; 
}

table.dataTable td.tableSeparator { /* surcharge */
	border:none;
	height:15px;
}

tr.filledRow,
th.filledCell {
	background-color:#EAEAEA;
}

div.toolBox div.content div.tableContainer {
	margin-left:5px;
	margin-right:5px;
	padding-bottom:5px;
	padding-top:5px;
}

div.toolBox div.content table.dataTable {
	border-collapse:collapse;
	border-spacing:0px;
	margin:1px;
	padding: 0px;
	width:211px;
}

div.toolBox div.content table.dataTable td,
div.toolBox div.content table.dataTable th {
	border:1px solid #CBCBCB;
	padding:2px;
	text-align:left;
}

div.toolBox div.content table.dataTable th {
	background-color:#EAEAEA;
}

div.toolBox div.content table.searchTable {
	padding: 0px;
	border-spacing:0px;
	border-collapse:collapse;
	width:100%;
}

div.toolBox div.content table.searchTable td,
div.toolBox div.content table.searchTable th {
	border-style:none;
	padding:3px;
	text-align:left;
}

/* liens dans le tableau (qui servent partout ailleurs aussi ^^) */
a.blueLink:link,
a.blueLink:visited {
	text-decoration:none;
	font-weight:bold;
	color:#1E9CD1;
}
a.blueLink:hover,
a.blueLink:visited:hover {
	text-decoration:underline;
	font-weight:bold;
	color:#1E9CD1;
}

/* Moteur de recherche */
table.dataTable select.fullWidth {
	width:100%;
	text-align:left;
}

table.dataTable input.textInput { /* textInput par défaut dans un tableau de données */
	border:1px solid #AAAAAA;
	width:99%;
	*width:95%;
	font-size:11px;
	color:#44474E;
}

input.calendarInput { /* champ de texte des calendriers */
	border:1px solid #AAAAAA;
	color:#44474E;
	font-size:11px;
	margin-right:5px;
	width:67px;
}


table.dataTable input.dayMonth { /* surcharge */
	width:1.5em;
}

table.dataTable input.year { /* surcharge */
	width:3em;
}

div.mainContent div.content div.subContent div.submitButtonContainer {
	text-align:right;
}

/* table header */
div.mainContent div.content div.subContent div.tableHeaderLeft {
	float:left;
}

div.mainContent div.content div.subContent div.tableHeaderRight {
	float:right;
}

/* Aller en bas/haut de page */
div.mainContent div.content div.subContent a.goUpOrDown img {
	vertical-align:middle;
} 
div.mainContent div.content div.subContent a.goUpOrDown:link,
div.mainContent div.content div.subContent a.goUpOrDown:visited {
	color:#44474E;
	text-decoration:none;
	font-size:8px;
}
div.mainContent div.content div.subContent a.goUpOrDown:hover,
div.mainContent div.content div.subContent a.goUpOrDown:visited:hover {
	color:#44474E;
	text-decoration:none;
	font-size:8px;
}


/* surcharge tableau résult recherche */ 
div.mainContent div.content div.subContent div.resultTableContainer {
	margin-top:4px;
	margin-bottom:2px;
}

table.resultTable thead th,
table.resultTable td {
	text-align:center;
}

table.resultTable { border-collapse:collapse; }
table.resultTable th, table.resultTable td { border:1px solid #CBCBCB;  }

table.resultTable thead th {
	background-color:#EAEAEA;
	text-align:center;
	border-bottom:none;
	padding-left:2px;
	padding-right:2px;
	vertical-align:top;
}

table.resultTable td.customWidth {
	width:50px;
}






/* petites flèches de tri */
table.dataTable thead th img {
	display:block;
	margin:auto;
	padding-bottom:3px;
}

table.dataTable thead th.noTopBorder {
	border-top:none;
	padding:0;
}

/* Fiche client */
div.mainContent div.content div.menu {
	width:500px;
	vertical-align:bottom;
	margin-top:2px;
	float:right;
}

div.mainContent div.content div.subContent div.halfContent {
	width:49%;
	float:left;
}

div.mainContent div.content div.subContent div.halfLeft {
	margin-right:1%;
}
div.mainContent div.content div.subContent div.halfRight {
	margin-left:1%;
}

table.subContentTable td.halfSizeCell {
	width:50%;
	vertical-align:top;
}

table.subContentTable td.left {
	padding-right:7px;
}

table.subContentTable td.right {
	padding-left:7px;
}

table.clientTable th {
	background-color:#EAEAEA;
}


/* Devis */
div.mainContent div.content div.menuDevis {
	margin-top:-1px;
}

div.mainContent div.content div.menuDevis div.item{
	font-size: 11px;
	font-weight:bold;
	white-space: nowrap;
}

div.mainContent div.content div.underSubTitleContainer {
	margin-top:6px;
}

table.devisTable th,
table.devisTable td {
	text-align:center;
}

table.devisTable th {
	background-color:#EAEAEA;
}

table.summaryTable th {
	background:url(../../images/back_office/layout/bg-devis-right.jpg) repeat-x #FF6A00;
	color:#ffffff;
	border:1px solid #FF6A00;
}

table.summaryTable td {
	color:#505050;
	border:1px solid #FF6A00;
}

table.devisTable input.percentage {
	text-align:right;
	width:30px;
}

table.devisTable input.price {
	text-align:right;
	width:50px;
}

table.devisTable input.quantity {
	text-align:right;
	width:40px;
}

div.submitZone {
	background-color:#ebe9e5;
	padding-top:20px;
	*padding:0;
	*margin-bottom:-15px;
	float:right;
	text-align:right;
}

/**
 * Fin Contenu principal
 */
 


/**
 * Début Outils
 */
/* Info Plus */
div#global div#globalMainContent div#tools div.toolBox div.content p {
	margin:0;
	padding:8px;
}

div#global div#globalMainContent div#tools div.toolBox div.content div.subTitleContainer {
	color:#6E859E;
	font-weight:bold;
	border-bottom:1px solid #485666;
	margin-top:8px;
}

div#global div#globalMainContent div#tools div.toolBox div.content div.subTitleContainer p.subTitle { /* surcharge */
	font-size:11px;
	padding-bottom:0px;
}

div#global div#globalMainContent div#tools div.toolBox div.content table.infoPlus td select.comboBox {
	width:120px;
}
/**
 * Fin Outils
 */

 /**
  * Outils infos plus fiche client 
  *
  */
div#tools div.toolBox div.content p {
	margin:0;
	padding:8px;
}

div#tools div.toolBox div.content div.subTitleContainer {
	color:#EB6a0a;
	font-weight:bold;
	border-bottom:1px solid #EB6a0a;
	margin-top:8px;
}

div#tools div.toolBox div.content div.subTitleContainer p.subTitle { /* surcharge */
	font-size:11px;
	padding-bottom:0px;
}

div#tools div.toolBox div.content table.infoPlus td select.comboBox {
	width:120px;
}  

/**
 * Reliquats du global.css
 * Les tooltips devront être refaits
 * Les styles .letter sont à supprimer
 */
 
 .asterix {
	color:#FF0000;
	font-size:14px;
	font-weight:bold;
}

.msg {
	font-size:12px ;
	color:#FF0000;
	font-weight:bold;	
}

.center {
	text-align:center;
}

.empty {
	border-style:none;
}

.mandatory {
	background-color:#CFC3E9;
	color:#463079;	
}

/********************** Tooltip **********************/

.tooltipa {
    position:relative; 
    text-decoration:none;
    cursor:pointer;
    float:right;
}

.tooltip{
	display:none;
}


.tooltiphover{
	display:block; 
	position:absolute;
    top:-10px; 
	left:11px;
	border:2px solid #ff8000;
    background-color:#ffffff; 
	color:#666666 !important;
    z-index:99;
}

.tooltiphover .arrow {
  top:13px;
  height:13px;
  left:-9px;
  position:absolute;

}

.tooltiphover div {
	background-color:#FFFFFF;
}

.tooltipanousehelp{
    position:relative; 
    text-decoration:underline;
    cursor:help;
    text-align:center;
}

.tooltipnousehelp{
	display:none;
}


.tooltiphovernousehelp{
	display:block; 
	position:absolute;
    top:1px; 
	left:100px; 
	height:auto;
    border:1px solid #6699CC;
    background-color:#EEEEEE; 
	color:#6699CC;
    text-align: justify;
    font-weight:normal;
    white-space:normal;
    padding:4px;
    z-index:999;
}

.tooltipfrsa{
    clear:right;
    cursor:help;
    float:right;
    position:relative; 
    text-decoration:none;
}

.tooltipfrs{
	display:none;
}


.tooltipfrshover{
	display:block; 
	position:absolute;
	top:-5px;
	left:-390px;
	border:1px solid lightgray;
	background-color:#FFFFFF; 
	color:#8b9298;
	z-index:99;
}

.tooltiporda{
    position:relative; 
    text-decoration:none;
    cursor:help;
    float:right;
}

.tooltipord{
	display:none;
}


.tooltipordhover{
	display:block; 
	position:absolute;
    top:0px; 
	left:-300px; 
	height:auto;
	border:1px solid lightgray;
    background-color:#EEEEEE; 
	color:#6699CC;
    text-align: justify;
    font-weight:normal;
    white-space:normal;
    padding:4px;
    z-index:99;
}

.tooltipordanousehelp{
    position:relative; 
    text-decoration:underline;
    cursor:help;
    text-align:center;
}

.tooltipordnousehelp{
	display:none;
}


.tooltipordhovernousehelp{
	display:block; 
	position:absolute;
    top:-100px; 
	left:-300px; 
	height:auto;
	border:1px solid lightgray;
    background-color:#EEEEEE; 
	color:#6699CC;
    text-align: justify;
    font-weight:normal;
    white-space:normal;
    padding:4px;
    z-index:99;
}

.tooltip{
    position:relative; 
    text-decoration:none;
}

.tooltip .tooltiphelp{
	display:none;
}

.tooltip:hover{
	background:none; /*patch IE bug :o/*/
}

.tooltip:hover .tooltiphelp{
	display:block; 
	position:absolute;
    top:15px; 
	left:20px; 
	height:auto;
    border:2px solid #ff8000;
    background-color:#EEEEEE; 
	color:#666666 !important;
    text-align: justify;
    font-weight:normal;
    white-space:normal;
    padding:4px;
    z-index:99;
}

/*********** Styles pour le Color Picker ************/

#cPcolorPicker{
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;

	width:350px;
	height:194px;
	background-color:#FFFFFF;
	border:1px solid black;

	visibility:hidden;
}

#cPbuttok{

}

#cPclose{
	width:15px;
	height:15px;
	float:right;

	/*border:1px solid blue;*/
}

#cPclose a{
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:14px;
	text-decoration:none;
}

#cPcolorContainer{
	position: absolute;
	height: 192px;
	width: 192px;
	top: 0px;
	left: 0px;
}

#cPcolor{
	position: absolute;
	height: 192px;
	width: 192px;
	background-color: #FF0000;
	background-image: url(../../images/pickerbg.png);
	background-repeat: no-repeat;
	background-position: center;
	top: 0px;
	left: 0px;

}

#cPcolorIndic{
	position: absolute;
	width: 11px;
	height: 11px;
	background-image: url(../../images/select.gif);
	background-repeat:no-repeat;
}

#cPhue{
	position: absolute;
	top: 3px;
	left: 200px;
	width: 18px;
	height: 186px;
	background-image: url(../../images/hue.png);
}

#cPhueIndic{
	position:absolute;
	background-image: url(../../images/color_indic.gif);
	background-repeat:no-repeat;
	width: 18px;
	height: 7px;
}

#cPcolorCurrent{
	width: 60px;
	height: 60px;
	border: 2px solid #999;
	position: absolute;
	left: 240px;
	top: 8px;
}

#cPcolorValues{
	position: absolute;
	left: 240px;
	top: 80px;
}

#cPcolorValues input{
	font-size: 11px;
	padding: 1px;
}

#cPoldColor{
	position: absolute;
	background-color: #fff;
	top: 50%;
	height: 50%;
	width: 100%;
}

#cPrgbR, #cPrgbG, #cPrgbB{
	width: 20px;
}

#cPhex{
	width: 40px;
}

/********************** Menu principal - Utilise Droppy **********************/

/* Basic code - don't modify */

.mainBackMenu { display: block; margin: 0; padding: 0; position: relative; }
.mainBackMenu li { display: block; list-style: none; margin: 0; padding: 0; float: left; position: relative; }
.mainBackMenu a { display: block; }
.mainBackMenu ul { display: none; position: absolute; left: 0; margin: 0; padding: 0; }
* html .mainBackMenu ul { line-height: 0; } /* IE6 "fix" */
.mainBackMenu ul a { zoom: 1; } /* IE6/7 fix */
.mainBackMenu ul li { float: none; }
.mainBackMenu ul ul { top: 0; }

/* Essentials - configure this */

.mainBackMenu ul { white-space: nowrap; width: 180px; }
/*.mainBackMenu ul ul { left: 131px; }*/

/* Everything else is theming */

.mainBackMenu *:hover { background-color: none; }
.mainBackMenu a { font-size: 10px; padding: 5px; padding-top: 4px; line-height: 1; }
.mainBackMenu li.separator { padding-top: 3px; }
.mainBackMenu li.hover a {}
.mainBackMenu ul { top: 22px; }
.mainBackMenu ul a { border-bottom: 1px solid #777777; border-right: none; font-size:11px;}
.mainBackMenu ul a.hover { background-color: white; }
.mainBackMenu ul li a { background-color: white; border:1px solid #eceae5; border-top:none;}/*777777*/
/* .mainBackMenu ul a { border-bottom: none; } - I also needed this for IE6/7 */

/* specific */
div#global div#header div#menu ul.mainBackMenu li ul li a:link,
div#global div#header div#menu ul.mainBackMenu li ul li a:visited { color: black; }
div#global div#header div#menu ul.mainBackMenu li ul li a:hover,
div#global div#header div#menu ul.mainBackMenu li ul li a:hover:visited { color: black; text-decoration:none; }
.subMenuli ul a {
    width: 100%;
}
/********************** Slider d'accès rapide **********************/

#sliderPanel{
	background: #FFFFFF;
	border:2px solid #9d0b5d;
	color:#44474E;
	left:-199px;
	padding:5px;
	position:absolute;
	top:10px;
	width:185px;
}

#sliderPanel a:focus{
	outline: none;
}

#sliderPanel th{
	text-align:left;
}

#sliderPanel .active{
	background-image:url('/images/back_office/content/sliderArrowLeft.gif');
}

.panelB2B{
	height:160px;
	*height:170px;
}

.panelB2C{
	height:140px;
	*height:150px;
}

.slider{
	background: url('/images/back_office/content/slideButton.gif') no-repeat center top;
	left:196px;
	margin:0;
	padding:0;
	position:absolute;
	top:-3px;
}

.sliderButton{
	background-image:url('/images/back_office/content/sliderArrowRight.gif');
	background-repeat:no-repeat;
	background-position:5px 7px;
	color: #FFFFFF;
	display:block;
	font-size:14px;
	font-weight:bold;
	height:67px;
	margin:0 auto;
	padding:10px 10px 0 0;
	text-align:center;
	text-decoration:none;
	width:10px;
}

.sliderSearchInput{
	border:1px solid #AAAAAA;
	color:#44474E;
	font-size:11px;
	width:50px;
}

/********************** Menu des favoris - Utilise Droppy **********************/

/* Basic code - don't modify */
 
#bookmarkMenu { display: block; margin: 0px 5px 0 0; padding: 0; position: relative; z-index:1999;}
#bookmarkMenu li { display: block; list-style: none; margin: 0; padding: 0; float: right; position: relative; }
#bookmarkMenu a { display: block; text-decoration:none; }
#bookmarkMenu ul { display: none; position: absolute; left: 0; margin: 0; padding: 0; }
* html #bookmarkMenu ul { line-height: 0; } /* IE6 "fix" */
#bookmarkMenu ul a { zoom: 1; } /* IE6/7 fix */
#bookmarkMenu ul li { float: none; }
#bookmarkMenu ul ul { top: 0; }
    
/* Essentials - configure this */

#bookmarkMenu ul { width: 130px; }
#bookmarkMenu ul ul { left: -131px; }

/* Everything else is theming */
 
#bookmarkMenu { height: 19px; }
#bookmarkMenu *:hover { background-color: none; }
#bookmarkMenu a { color: white; font-size: 11px; padding: 6px; line-height: 1; }
#bookmarkMenu li.hover a {  }
#bookmarkMenu ul { top: 24px; left: -105px; }
#bookmarkMenu ul li a { background-color: #777777;}
#bookmarkMenu ul a.hover { background-color: #999999; }
#bookmarkMenu ul a { border-bottom: 1px solid white; border-right: none; opacity: 0.9; filter: alpha(opacity=90); }
/*.bookmarkMenuRoot {line-height: 37px !important;}*/
/* #bookmarkMenu ul a { border-bottom: none; } - I also needed this for IE6/7 */



/************ Menu Commercial > Decisionnel ************/
div.mainContentDecision h1 { text-align:center; color:#FFFFFF; font-size:22px; letter-spacing:2px; width:90%; border-bottom:1px solid #FFFFFF; }

div.mainContentDecision { margin:auto; padding-top:10px; width:990px; }
div.mainContentDecision div.leftColumn { float:left; width:290px; margin:0 40px 0 0; }

div.mainContentDecision p { margin-top:10px !important; padding-right:35px; display:block; color:#FFFFFF; }
div.mainContentDecision p.type { font-size:18px; letter-spacing:2px; }

div.mainContentDecision ul { list-style-type:square; margin:7px 0 0 15px; padding:0; color:#FFFFFF; }
div.mainContentDecision ul li { margin:3px 0 0 0; font-size:12px;  }
div.mainContentDecision ul li a { color:#FFFFFF; }
div.mainContentDecision ul li a:hover {
	color:#F49C4D;
	text-decoration:none;
}

/* Main toggle */
.toggle { 
	font-size: 13px;
	line-height:20px;
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #ffffff; /* Main background */
	margin-bottom: 10px;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;	
}
 
/* Toggle Link text */
.toggle a.toggle-trigger {
	display:block;
	padding: 10px 55px 15px 20px;
	position:relative;
	text-decoration: none;
	color:#55c4c2;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	
}
 
/* Toggle Link hover state */
.toggle a.toggle-trigger:hover {
	opacity: .8;
	text-decoration: none;
}
 
/* Toggle link when clicked */
.toggle a.active {
	text-decoration: none;
	border-bottom: 1px solid #e5e5e5;
	-webkit-box-shadow: 0 8px 6px -6px #ccc;
	   -moz-box-shadow: 0 8px 6px -6px #ccc;
	        box-shadow: 0 8px 6px -6px #ccc;
	color: #000;
}
 
/* Lets add a "-" before the toggle link */
.toggle a.toggle-trigger:before {
	/* You can add any symbol, font icon, or graphic icon */
	margin-right: 10px;
	font-size: 1.3em;	
}
 
/* When the toggle is active, change the "-" to a "+" */
.toggle a.active.toggle-trigger:before {
	content: "+";
}
 
/* The content of the toggle */
.toggle .toggle-content {
	padding: 10px 20px 15px 20px;
	color:#666;
	width:869px;
}
.flagLang{

 width:16px;
 height:14px;
cursor:pointer;
border:0;
text-indent: -20em;
overflow:hidden;
}
#genere{
	display: inline-block;
    padding: 5px;
    border: solid 1px #888888;
    margin-top: 5px;
    background-color: #ababab;
    cursor: pointer;
}

/*sitraka*/
/*abandon de panier*/
.user-col{width:180px;line-height:14px;}
div.reduction{
	background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 0 12px #666;
    left: 38%;
    padding: 20px;
    position: fixed;
    top: 36%;
    width: 300px;
    z-index: 99;
}
.reduction td {border:none!important;}
.reduction input {text-align:right;}
#reduction-modal{
	background-color: #888;
    height: 100%;
    opacity: 0.5;
    position: fixed;
	top:0px;
	left:0px;
    width: 100%;
}
.reduction_header{
	font-size: 12px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
	display:none;
}
div.reduction table{margin:auto;}
div.reduction table input{
	width:50px;
	padding:0 5px;
}
#reduction-type input[type="radio"]{
	vertical-align:bottom;
	color: #44474E;
}
.close {
    cursor: pointer;
    float: right;
    position: relative;
    right: -14px;
    top: -17px;
	color: #44474E;
}
input[readonly="readonly"] {
    background-color: #eee;
    border: 1px solid #ddd;
}
.article_ref{font-style:italic;}
.article_summary{font-weight:bold;}
.btn_action{cursor:pointer;}
.btn_action span { margin: auto;}
.dataTable th{ vertical-align:top;}
.cart_impair td{background-color:#f5f5f5;}
.cart_impair td:hover, .cart_pair td:hover{background-color:#eaeaea;}
.cart_price{color:#cf0106;}
.cart_price a{color:#cf0106;text-decoration:underline}
.cart_price a:hover{text-decoration:none;cursor:pointer}
.btn {
    background: rgba(0, 0, 0, 0) linear-gradient(#6D94BD, #5073A2) repeat scroll 0% 0%;
    border: medium none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    padding: 5px 15px;
    cursor: pointer;
    margin-left: 10px;
    font-size: 11px;
	color:#fff;
	border-radius: 4px;
}
.btn:hover {background: rgba(0, 0, 0, 0) linear-gradient(#80A2C5, #5073A2) repeat scroll 0% 0%;}
form#cart-filter {padding-top: 3px;}
#cart-filter * {vertical-align: top;}
#cart-filter img {
    position: relative;
    top: -5px;
}
#cart-filter input.btn {
    position: relative;
    top: -5px;
}
div.reduction td {
    background: none;
	color:#44474E;
}
div.reduction td:hover {background: none;}
button.btn {margin-left: 5px;}
.strong{font-weight:bold}
.icon-send{
	background:url(../../images/back_office/content/icon-send.png);
	width: 25px;
    height: 20px;
    display: block;
    background-size: 25px;
}
.icon_user{
	background:url(../../images/back_office/content/icon-user.png);
	width: 10px;
    height: 10px;
    display: inline-flex;
    background-size: 9px 10px;
    margin-right: 3px;
}
.red_rem{color:#f00;}
.green_rem{color:#95CA07;}

.label-file {
	cursor: pointer;
	color: #00b1ca;
	font-weight: bold;
}
.label-file:hover {
	color: #25a5c4;
}

.flash_message {
    padding: 5px;
	font-family: arial, "lucida console", sans-serif;
	font-size: 2em;
	background-color: #9d0b5d;
	color: #fff;
	position: absolute;
	top: 15%;
	right: 40%;
	opacity: 0.7;
}