@charset "UTF-8";
/*
 *
 * Mise en page - Default (Blue)
 *
 */
 


/* Debut Header */
 
div#global div#header div#left {
	background:url(../../images/back_office/layout/bg-pink-product.jpg) repeat-x;
}

div#global div#header div#middle {
	background:url(../../images/back_office/layout/bg-pink-product.jpg) repeat-x;
}

div#global div#header div#right div#rightLeft {
	background:url(../../images/back_office/layout/bg-pink-product.jpg) repeat-x;
}

div#global div#header div#right div#rightRight {
	background:url(../../images/back_office/layout/bg-pink-product.jpg) repeat-x;
}

div#global div#header div#menu {
	background:url(../../images/back_office/layout/bg-blue-menu.gif) repeat-x;
	color:#8B9298;
}

div#global div#header div#mainMenu {
	background:#F7467C;
}

/* Debut Menu */
.iconsMenu li.icons0 a span { background:url(../../images/back_office/layout/icons-menu-commercial.png) no-repeat; }
.iconsMenu li.icons1 a span { background:url(../../images/back_office/layout/icons-menu-chefprod.png) no-repeat; }
.iconsMenu li.icons2 a span { background:url(../../images/back_office/layout/icons-menu-marketing.png) no-repeat; }
.iconsMenu li.icons3 a span { background:url(../../images/back_office/layout/icons-menu-comptabilite.png) no-repeat; }
.iconsMenu li.icons4 a span { background:url(../../images/back_office/layout/icons-menu-statistique.png) no-repeat; }
.iconsMenu li.icons5 a span { background:url(../../images/back_office/layout/icons-menu-logisitique.png) no-repeat; }
.iconsMenu li.icons6 a span { background:url(../../images/back_office/layout/icons-menu-parametre.png) no-repeat; }

.iconsMenu li.iconsQuitter a span { background:url(../../images/back_office/layout/icons-menu-quitter.png) no-repeat; }
.iconsMenu li.iconsHouse a span { background:url(../../images/back_office/layout/icons-menu-house.png) no-repeat; }
.iconsMenu li.iconsInfos a span { background:url(../../images/back_office/layout/icons-menu-info.png) no-repeat; }


