
      #menuMailing dl, dt, dd, ul, li {
      margin: 0;
      padding: 0;
      list-style-type: none;
      }
	  
      #menuMailing {
      position: absolute;
      }
      
      #menuMailing dl {
      float: left;
      width: 24em;
      margin: 0 1px;
      }

      #menuMailing dt {
      color:#FFFFFF;
      cursor: pointer;
      text-align: center;
      font-weight: bold;
      background-color:#7a8ea3;
      border: 1px solid gray;
      }

      #menuMailing dd {
      border: 1px solid gray;
      }

      #menuMailing li {
      text-align: center;
      background: #fff;
      }

      #menuMailing li a, #menuMailing dt a {
      color: #000;
      text-decoration: none;
      display: block;
      height: 100%;
      border: 0 none;
      }

      #menuMailing li a:hover, #menuMailing dt a:hover {
      background-color:#7a8ea3;
      color:#FFFFFF;
      }
	
	.imgTable{
		text-align:center;
		width:20%;
	}
	
	.imgTable a .img{
		border-width:2px; 
		border-color:transparent;
		border-style:solid;
	}
	
	.imgTable a:hover .img{
		border-width:2px; 
		border-color:black;
		border-style:solid;

	}
	
	.imgTablesupr{
		border-color:red;
	}

	.DellNotice{
		border : 1px solid #949494;	
		padding:2px 5px 2px 5px;
		text-align: justify ; 
		color:black;
		font-size:10px;
	}

	.histo_popup_title{
		width:96%;
		text-align:center;
		color:#463079;
		font-weight:bold;
		font-size:16px;
		padding:2%;
	}
	
	.histoContent_content{
		width:90%;
		position:relative;
		left:5%;
		border : 1px solid #949494;	
		padding:2px 2px 2px 2px;
	}
	
	.histoContent_sujet{
		font-size:12px;
		font-weight:bold;
		color : orange ;
		padding:10px;
	}
	
	.histo_content{
		font-size:11px;
		font-family:Arial, Helvetica, sans-serif;
	}
	
	input.a {border:0; background:transparent; color:blue}
	input.a:hover {text-decoration: underline; cursor: pointer}
