/* Basic code - don't modify */

.mainBackMenu { display: block; margin: 0; padding: 0; position: relative; }
.mainBackMenu li { display: block; list-style: none; margin: 0; padding: 0; float: left; position: relative; }
.mainBackMenu a { display: block; }
.mainBackMenu ul { display: none; position: absolute; left: 0; margin: 0; padding: 0; }
* html .mainBackMenu ul { line-height: 0; } /* IE6 "fix" */
.mainBackMenu ul a { zoom: 1; } /* IE6/7 fix */
.mainBackMenu ul li { float: none; }
.mainBackMenu ul ul { top: 0; }

/* Essentials - configure this */

.mainBackMenu ul { white-space: nowrap; width: 180px; }
/*.mainBackMenu ul ul { left: 131px; }*/

/* Everything else is theming */

.mainBackMenu { background-color: #EBE9E5; height: 20px; padding-left: 25px; width: auto; }
.mainBackMenu *:hover { background-color: none; }
.mainBackMenu a { font-size: 10px; padding: 5px; padding-top: 4px; line-height: 1; }
.mainBackMenu li.separator { padding-top: 3px; }
.mainBackMenu li.hover a {}
.mainBackMenu ul { top: 20px; }
.mainBackMenu ul a { border-bottom: 1px solid white; border-right: none; opacity: 0.9; filter: alpha(opacity=90); }
.mainBackMenu ul a.hover { background-color: #999999; }
.mainBackMenu ul li a { background-color: #777777; }
/* .mainBackMenu ul a { border-bottom: none; } - I also needed this for IE6/7 */

/* specific */
div#global div#header div#menu ul.mainBackMenu li ul li a:link,
div#global div#header div#menu ul.mainBackMenu li ul li a:visited { color: #FFFFFF; }
div#global div#header div#menu ul.mainBackMenu li ul li a:hover,
div#global div#header div#menu ul.mainBackMenu li ul li a:hover:visited { color: #FFFFFF; }