* { margin:0; padding:0; font-family: Arial, Verdana; }

html > body #nav_menu_wrapper {
	position:fixed;
}
#nav_menu_wrapper { 
	bottom:0;
	margin-left:auto;
	margin-right:auto;
	position:absolute;
	width:100%;
	text-align:center;
	z-index:50; 
}

#nav_menu_wrapper .nav_menu{
	height:25px;
	width:100%;

	/* center this div */
	margin-left:auto;
	margin-right:auto;	

	/* add effect */
	background-color:#ebe9e5;
	border:#aaaaaa solid 1px;
	border-bottom:none;
	text-align:center;
}

		
#nav_menu_wrapper .nav_menu li {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #44474e;
	text-align:center;
}
		
#nav_menu_wrapper .nav_menu li a {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	padding-top:3px;
	padding-bottom:5px;
	padding-left:0px;			
	padding-right:0px;
	color: #44474e;
	text-align:center;
}

#nav_menu_wrapper .nav_menu a:link, #nav_menu_wrapper .nav_menu a:visited {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#333333;
	text-decoration:none;
}

#nav_menu_wrapper .nav_menu a:hover {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#eb6a0a;
	text-decoration:none;
}

#closeButton{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	float:right;
	margin-right:5px;
}

.separatorImg{
	margin-left:5px;
	margin-right:5px;
}

.grasBackRed{
	font-weight: bold;
	font-size: 11px !important;
	color: #ff0000 ;
}

.grasBackGreen{
	font-weight: bold;
	font-size: 11px !important;
	color: #008000 ;
}

.grasBackBlue{
	font-weight: bold;
	font-size: 11px !important;
	color: #507395 ;
}

 

#nav_menu_wrapper p {
	line-height:18px;
	font-size: 11px !important;
	margin:0 !important;
}

#nav_menu_wrapper .separator{
	width: 4px;
	height: 4px;
	background-color: #7a8ea3;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: -2px;
	display:inline-block;
	vertical-align:middle;
}