/* tables */
table.tablesorter {
	margin:0;
	width: 100%;
}

table.tablesorter thead tr .header {
	background-image: url(../../images/back_office/content/bgTablesorter.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

table.tablesorter thead tr .headerSortUp {
	background-image: url(../../images/back_office/content/ascTablesorter.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../../images/back_office/content/descTablesorter.gif);
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	color:red;
}