{head.addCSS(#/templates/catalog/css/custom.css#)}
<flexy:include src="/head/head.tpl"></flexy:include>
<!--<flexy:include src="menu/menu.tpl"></flexy:include>-->

<!--====================================== Contenu ======================================-->
<div id="center" class="page custom">
<b>header_custom_pages.tpl<b>

<!-- CUSTOM PAGE START -->