<flexy:include src="header.tpl"></flexy:include>

<flexy:include src="b_left.tpl"></flexy:include>

<!--====================================== Contenu ======================================-->


<div id="center" class="page">	
{if:iduser}<span style="color:red;font-weight: bold;">/basket/registerok.tpl</span>{end:}
		<!--<div style="text-align: center; width: 200px; z-index:10; position : absolute ; right : -5px ; top : 40px">
		<div class="Telinfo"><img src="<?php echo $GLOBAL_START_URL?>/templates/catalog/images/telephone_aide.jpg" alt="tel_devis" /><br />
		03 88 18 31 00</div>
		</div>-->
		<br /><br /><br />
		<span class="Panier_Title">Bienvenue chez {translateAdCompany}</span><br /><br />
		
		<span class="Panier_SubTitle"><b>Merci de vous &ecirc;tre enregistr&eacute;</b></span><br /><br />
		
		
		<div class="text_plus" style="text-align:left;">
			La cr&eacute;ation de votre compte vous permet d&egrave;s &agrave; pr&eacute;sent : <br /><br />
			
			- de g&eacute;rer votre compte.<br /><br />
			
			- de cr&eacute;er et m&eacute;moriser votre catalogue perso.<br /><br />
			
			- de consulter vos demandes de devis et de suivre l'&eacute;tat de vos commandes.<br /><br />
			
			Toute notre &eacute;quipe vous remercie de votre confiance.<br /><br />
			
			<span class="infocomp_gris">Pour toutes informations compl&eacute;mentaires, </span><span class="infocomp_orange">n'h&eacute;sitez pas &agrave; nous contacter au 03 88 18 31 00.</span>
		</div>
	
	<!-- fin div centre -->
	</div>

<!--====================================== Fin du contenu ======================================-->
<!-- Colonne de droite de la page -->
<flexy:include src="b_right.tpl"></flexy:include>            
<!-- Pied de page -->
<flexy:include src="foot.tpl"></flexy:include>


