			<!--====================================== Colonne gauche ======================================-->
        
        	<div id="frameG">            	
            	{if:iduser}<span style="color:red;font-weight: bold;">/b_left.tpl</span>{end:}
            	<!-- Recherche --> 
            	<div class="module" id="mod-search">          	
                	<h4></h4>            
                    <div class="ctn"> 
                        <form id="QuickSearchForm" method="post" action="{start_url}/catalog/search.php">
                            <label for="searchstring">Votre recherche</label>
                            <span class="inputG"></span>                            
                            <input  style="z-index: 300;" name="name" size="40" class="input" type="text" value="votre recherche"  onclick="this.value=''"/>                            
                            <span class="inputD"></span>
                            <input type="hidden" name="idcategoryname" value="" />
			  				<input type="hidden" name="type" value="AND" />
						  	<input type="hidden" name="idcategory" value="0" />
			  				<input type="hidden" name="reference" value="" />
			  				<input type="hidden" name="SSESearch" value="1" />
			  				<input type="hidden" name="quicksearch" value="1" />                            
                            <input type="image" class="image png" name="Search" src="{start_url}/catalog/images/btn_search.png" title="Rechercher" />
                        </form>
                        <div class="clear"></div>
                        <ul class="clear">
                        	<!--<li><a href="{start_url}/catalog/search.php" rel="nofollow">Recherche avancée</a></li>-->
                        	<li><a href="{start_url}/catalog/recap.php" rel="nofollow">Recherche alphabétique</a></li>
                        </ul>
					</div>
                    <div class="module-bottom"></div>
                </div>
                                
                
                <div id="menuprod">
                	<h4>Nos produits</h4>                        
					<flexy:include src="menu/menu.tpl"></flexy:include>
                </div>
                
			    <script type="text/javascript" language="javascript" src="{start_url}/js/cssmenu.js"></script>				             
                
                <div >	                
	                <br/>
	                <a href="{start_url}/catalog/promotions.php?all"><img src="{start_url}/catalog/images/frameG_btn_promo.png"/ alt="promo équipement de protection"></a>
	             </div>
            
            </div>

            