<!-- CUSTOM PAGE END -->

</div> <!-- fin div center -->
<!--====================================== Fin du contenu ======================================-->
<!-- Colonne de droite de la page --><!--
<flexy:include src="b_right.tpl"></flexy:include>  -->          
<!-- Pied de page -->
</div>
</div>

{if:iduser}<span style="color:red;font-weight: bold;">/footer_custom_pages.tpl</span>{end:}
<style type="text/css">
#footer {
	top:0 !important;	
}
</style>
<flexy:include src="foot.tpl"></flexy:include> 
