﻿<flexy:include src="header.tpl"></flexy:include>
<!--====================================== Contenu ======================================-->
	<div id="center" class="page home">  
	
<b><b>{if:iduser}<span style="color:red;font-weight: bold;">/index.tpl</span>{end:}
	
       
<script type="text/javascript">
            $('#slider').layerSlider({
				skin : 'lsskin',
				skinsPath : 'templates/catalog/images/home/',
				twoWaySlideshow : false,
				thumbnailNavigation : 'disabled',
                navPrevNext : true,
                navStartStop : false,
                navButtons : true,
				responsiveUnder : 960
            });
			
</script>
						<br>
         <div class="products">
		 
                <div class="clear"></div>
             <img src="{start_url}/templates/catalog/images/accueil_hager.jpg" width="990">
        </div>
        

                       
        <div id="arbo">
               
                {getListCateg2():h}
      </div>
           
        </div><!-- Fin main -->
        <!-- Fin content -->
		
	<!--====================================== Fin du contenu ======================================-->
<flexy:include src="foot.tpl"></flexy:include> 
</div>