<html>
<body>
{if:iduser}<span style="color:red;font-weight: bold;">/send_friend_mail.tpl</span>{end:}

	<p><img src="{logo}" alt="logo" /></p>
	<table class="tableMail">
		<tr>
			<td>De :</td>
			<td>{firstnameSender} {lastnameSender}</td>
		</tr>
	
		<tr>
			<td>A :</td>
			<td> {firstnameReciever} {lastnameReciever}</td>
		</tr>
		<tr>
			<td>Object :</td>
			<td>Un ami vous invite à consulter un produit</td>
		</tr>
	</table>
	<p class="pConfirm">Bonjour ,</p>
	<p class="pConfirm">Un ami vous invite à consulter un produit.</p>
		<p class="pConfirm"><a href="{product.getURL()}">{product.get(#name_1#):h}</a></p>
	<p class="aBientot">A très bientôt.</p>
	

</body>
</html>