/* Accordion
----------------------------------*/
/* Original definitions

.ui-accordion .ui-accordion-header { cursor: pointer; position: relative; margin-top: 1px; zoom: 1; }
.ui-accordion .ui-accordion-li-fix { display: inline; }
.ui-accordion .ui-accordion-header-active { border-bottom: 0 !important; }
.ui-accordion .ui-accordion-header a { display: block; font-size: 1em; padding: .5em .5em .5em 2.2em; }
.ui-accordion .ui-accordion-header .ui-icon { position: absolute; left: .5em; top: 50%; margin-top: -8px; }
.ui-accordion .ui-accordion-content { padding: 1em 2.2em; border-top: 0; margin-top: -2px; position: relative; top: 1px; margin-bottom: 2px; overflow: auto; display: none; }
.ui-accordion .ui-accordion-content-active { display: block; }

----------------------------------*/

.ui-accordion .ui-accordion-header {
	background-color:#EDAD7F;
	border:1px solid #FFFFFF;
	color:#FFFFFF;
	cursor:pointer;
	font-size:11px;
	font-weight:bold;
	margin:0;
	padding:5px;
}

.ui-accordion .ui-accordion-header a {
	color:#FFFFFF;
	display:block;
	text-decoration:none;
}

.ui-accordion .ui-state-active{
	background-color:#FF7000;
}

.ui-accordion .ui-accordion-header:hover {
	background-color:#FF7000;
}

.ui-accordion .ui-accordion-li-fix {
	display:inline;
}

.ui-accordion .ui-accordion-header-active {
	border-bottom:0 !important;
}

.ui-accordion .ui-accordion-header .ui-icon {
	position:absolute;
}

.ui-accordion .ui-accordion-content {
	background-color:#EEEEEE;
	border:1px solid #FFFFFF;
	display:none;
	overflow:hidden;
	position:relative;
}

.ui-accordion .ui-accordion-content-active {
	display:block;
}