.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #0065b0;
  color: #fff;
}
.menu .home .invisible {
  position: absolute;
  left: -9999px;
  top: -9999px;
  opacity: 0;
  visibility: hidden;
}
.menu .home-icon {
  display: block;
  position: relative;
  padding: 2em;
  margin-left: 1em;
}
.menu .home-icon:before {
  content: '\f015';
  font-family: 'Font Awesome 5 Free';
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  font-weight: 900;
  font-size: 30px;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: color .3s linear;
  -o-transition: color .3s linear;
  transition: color .3s linear;
}
.menu .home-icon:hover:before,
.menu .home-icon:focus:before {
  color: #f29200;
}
.menu .menu-container {
  margin: 0;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.menu #mainFrontMenu2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.menu #mainFrontMenu2 a.icon-link {
  display: none;
}
.menu #mainFrontMenu2 li.firstLevel {
  background: none;
}
.menu #mainFrontMenu2 li.firstLevel > a {
  font-family: "Poppins", sans-serif;
  font-size: 1.2em;
  font-weight: 600;
  padding: 1em;
  color: #fff;
  -webkit-transition: color .3s linear;
  -o-transition: color .3s linear;
  transition: color .3s linear;
}
.menu #mainFrontMenu2 li.firstLevel > a:hover,
.menu #mainFrontMenu2 li.firstLevel > a:focus {
  color: #f29200;
}
