 <nav id="left">
 {if:iduser}<span style="color:red;font-weight: bold;">/menu/menu_compte.tpl</span>{end:}
 <ul class="menu">
        <li><span>Actions client</span>
<ul>
		<li>
		{if:isEstimate}
			<a href="{baseURL}/catalog/admin_estimate.php?all" class="actif">
		{else:}
			<a href="{baseURL}/catalog/admin_estimate.php?all">
		{end:}
		Mes devis</a></li>
		<li>
		{if:isOrder}
			<a href="{baseURL}/catalog/admin_order.php?all" class="actif">
		{else:}
			<a href="{baseURL}/catalog/admin_order.php?all">
		{end:}
		Mes commandes</a></li>
		<li>
		{if:isInvoice}
			<a href="{baseURL}/catalog/admin_invoice.php?all" class="actif">
		{else:}
			<a href="{baseURL}/catalog/admin_invoice.php?all">
		{end:}
		Mes factures</a></li>
		 
       		<li>
		{if:isOrder}
			<a href="{baseURL}/catalog/product_term_buyer.php?all" class="actif">
		{else:}
			<a href="{baseURL}/catalog/product_term_buyer.php?all">
		{end:}
		Mes échéanciers</a></li>
        
        <li>
        {if:isOrder}
			<a href="{baseURL}/catalog/marge_category_buyer.php" class="actif">
		{else:}
			<a href="{baseURL}/catalog/marge_category_buyer.php">
		{end:}
		Décisionnel client</a></li>
        	
		
				
		
		
        </ul>
	</li>
</ul>
	</nav>
	

		
	{if:buyerGroup}
	
<nav id="left">	
        <ul class="menu">
        <li><span>Catalogue groupement</span>
				<a href="/catalog/grouping_catalog.php"> <img src="{logoGroup}" border="0" alt="Logo" width="150px"/> </a>
               <ul class="menu">
	<li> <a href="/catalog/grouping_catalog.php"> <span>Catalogue</span></a>
				</ul>
				</ul>
	</nav>	
	{end:}	
	
	<nav id="left">	
	<span><strong>Responsable groupement</strong></span>
        <ul class="menu">
        <li><span>Actions</span>
        	<ul>
            <li><a href="{baseURL}/catalog/admin_grouping_buyer.php?all" class="Account_liens">Liste des clients</a></li>
            <li><a href="{baseURL}/catalog/admin_grouping_estimate.php?all" class="Account_liens">Devis</a></li>
            <li><a href="{baseURL}/catalog/admin_grouping_order.php?all" class="Account_liens">Commandes</a></li>
            <li><a href="{baseURL}/catalog/admin_grouping_invoice.php?all" class="Account_liens">Factures</a></li>
            </ul>
        </li>
        
        </ul>
        
        
        
        
<ul class="menu">
	<li><span>Reporting</span>
    	<ul>
		<li><a href="{baseURL}/catalog/groupement_history.php" class="Account_liens">Historique groupement</a></li>
		<li><a href="{baseURL}/catalog/marge_category.php" class="Account_liens">Produits / Catégories</a></li>
		</ul>
	</li>
</ul>
</nav>
	
		<nav id="left">	
        <ul class="menu">
        <li><span>e-commerçant</span>
    	<ul>
	<li>
		{if:isOrder}
			<a href="{baseURL}/catalog/import_update.php" class="actif">
		{else:}
			<a href="{baseURL}/catalog/import_update.php">
		{end:}
		Historique fichiers </a></li>
		</li>
	<li>
		{if:isOrder}
			<a href="{baseURL}/catalog/stock_level.php" class="actif">
		{else:}
			<a href="{baseURL}/catalog/stock_level.php">
		{end:}
		Etat du stock </a></li>
		</li>
		 <li><a href="{baseURL}/catalog/order_logistics.php?all" class="Account_liens">Commandes</a></li>
	</ul>
	</ul>
</nav>
	
<nav id="left">	
<ul class="menu">
	<li><span>Mon compte</span>
    	<ul>
			<li><a href="{baseURL}/catalog/buyer_infos.php" class="Account_liens">Modifier mes coordonn&eacute;es</a></li>
            <li><a href="{baseURL}/www/logoff.php" class="Account_liens">Déconnexion</a></li>
         </ul>
	</li>

    
</ul>
</nav>