label{
	vertical-align:top;
	font-weight:bold;
	margin-right:5px;
	text-align:right;
}

input, textarea{
	vertical-align:top;
}

.center{
	text-align:center;
}

.nodeEditor{
	width:100%;
	padding:5px;
}

p{
	margin:0px;
	padding:2px;
}