{if:iduser}<span style="color:red;font-weight: bold;">/head/search.tpl</span>{end:}
<ul id="menuLeft">
	<li><a rel="notfollow" href="{baseURL}/catalog/qui.php" title="Qui sommes nous?">Qui sommes-nous?</a></li>
	<li><a rel="notfollow" href="{baseURL}/www/stat_page_nos_differences.php" title="Notre difference">Notre diff&eacute;rence</a></li>
	<li><a rel="notfollow" href="{baseURL}/catalog/contact.php" title="Nous contacter">Nous contacter</a></li>

</ul>

<div id="menuSearch">

	<form class="formSearch"  method="post" action="{baseURL}/catalog/search.php" onsubmit="this.elements[ 'reference' ].value = this.elements[ 'name' ].value;">  
		<p><input type="hidden" name="idcategoryname" value="" />
		<input type="hidden" name="type" value="AND" />
		<input type="hidden" name="idcategory" value="0" />
		<input type="hidden" name="reference" value="" />
		<input type="hidden" name="SSESearch" value="1" />
		<input type="hidden" name="quicksearch" value="1" />
		
		<input name="name" type="text" class="inputProduct" value="Rechercher..." onfocus="this.value = '';" onblur="if(this.value == '') this.value='Rechercher...'" /></p>
		<input name="Search" type="submit" class="submithome" value="OK" />
	</form>
	<div class="spacer"></div>
</div>

<flexy:tojavascript globalstarturl="baseURL">
<script type="text/javascript">
	$(document).ready(function() {
			var inprog1 = 0;
	        $("#basket").hover(function() {
	         if (inprog1 == 0) {
	             inprog1 = 1;
				
				filename = globalstarturl+"/catalog/basket_popup.php";
			
				$.ajax(
							{
			   					type: "GET",
			   					url: filename,
								data: "",
								dataType: "html",
								contentType : "text/html; charset=UTF-8",
								success:function(response){document.getElementById('basketOrder').innerHTML = response;}
							}
						);			             
	             
	             $("#divcommande").slideDown(100);
	             
	         }
	    }, function() {
	         $("#divcommande").slideUp(100, function() {inprog1 = 0;});
	    });
	});	
</script>

<ul id="menuRight">
	<li id="basket">
		<a href="{baseURL}/catalog/basket.php" class="panier" title="Mon panier">Mon panier <strong style="display:inline;" id="BasketItemCount">{if:basket.getItemCount()}({basket.getItemCount()}){end:}</strong></a>
		
		<div id="divcommande" class="PanierCommande" style="display:none;">
			<div id="basketOrder">&nbsp;</div>
			<p style="text-align:center;"><a href="{baseURL}/catalog/basket.php" style="float:none;">Accéder à mon panier</a></p>
		</div>
		<div class="spacer"></div>
		
	</li>
	<li id="user"><a rel="notfollow" href="{baseURL}/catalog/account.php" title="Compte">Mon compte</a></li>
</ul>

<div class="spacer"></div>

