 <nav id="left">
 {if:iduser}<span style="color:red;font-weight: bold;">/menu/menu_compte.tpl</span>{end:}
 <ul class="menu">
        <li><span>Actions client</span>
<ul>
		
		{if:isOrder}
			<a href="{baseURL}/catalog/admin_order.php?all" class="actif">
		{else:}
			<a href="{baseURL}/catalog/admin_order.php?all">
		{end:}
		Mes commandes</a></li>
		<li>
		{if:isInvoice}
			<a href="{baseURL}/catalog/admin_invoice.php?all" class="actif">
		{else:}
			<a href="{baseURL}/catalog/admin_invoice.php?all">
		{end:}
		Mes factures</a></li>
		 
       		
		
		
        </ul>
	</li>
</ul>
	</nav>
	

