<nav id="main">
{if:iduser}<span style="color:red;font-weight: bold;">/head/navigation.tpl</span>{end:}
	{menu(#1#):h}
	<div class="spacer"></div>
</nav>
<div class="spacer"></div>

<!-- Recherche -->
<flexy:include src="head/search.tpl"></flexy:include>
