<html>
	<body>
	{if:iduser}<span style="color:red;font-weight: bold;">/contact_mail_seller.tpl</span>{end:}
		<p style="margin-bottom:40px;">
			<img src="{start_url}/{ourLogo}" alt="logo" />
		</p>
		{if:subject}
			<p style="font-weight: bold;">{subject}</p>
		{end:}
		<p>{message:h}</p>
		<p>
			<b> {firstname} {lastname}</b>
			<br />{company}
			<br />Tel. : {phonenumber:h}
			<br />Fax : {faxnumber:h}
			<br />Email : <a href="mailto:{email}">{email}</a>
		</p>
	</body>
</html>