{arrayReferences:h}
{foreach:productsOfBrand,product}

{if:iduser}<span style="color:red;font-weight: bold;">subcontent_custom_pages.tpl.tpl</span>{end:}

	<ul style="list-style-type:none; float:left;margin-left:0px;padding-left:16px;">
		<li>
	
			<table width="179px" height="215" background="/pola150.jpg" style="background-repeat: no-repeat;" valign="top">
				<tr>
					<td width="179px" valign="top">
						<div class="transimg" align="center">
							<a href="{product[productURL]}">
								<img src="{product[thumbURL]}" style="border: 1px solid #999999;" alt="{product[name]}" name="image" width="150" vspace="6" onclick="document.location='{product[productURL]}'" />
							</a>
						</div>
					</td>
				</tr>
				
				<tr>
					<td width="179" valign="top">
						<div style="margin-top:-10px;" align="center">
							<a class="titresscateg" href="{product[productURL]}">{product[name]}</a>
						</div>
				
						<div class="prixsscateg">{product[pxmin]:h}</div>
						<br /><br />
					</td>
				</tr>
			</table>
	
		</li>
	</ul>
{end:}
